[2017-05-29 08:45] arthurlutz opened #2 "Rotation on webcam image is not done"
(first off, thanks for this plugin it's really cool)

The images sent via imgur are not rotated according to the settings. In the octoprint web interface (under the control tab) the image is correct, but over in slack the image is upside down. In my case both "Flip webcam horizontally" and "Flip webcam vertically" are ticked and enabled.

[2017-05-29 12:14] arthurlutz opened #3 "[doc] document where images for imgur are send / stored / accessible"
It's great that we can choose between no picture, images on imgur or amazon S3. I'm trying out octoslack with an imgur account, it works great.

It would be nice to have a little more documentation on where the photos on imgur are stored, if they are public, unlisted, etc. I don't seem them on my profile page. The URLs generated in slack are http://i.imgur.com/randomlettersandnumbers.jpg which see

[2017-05-29 12:21] arthurlutz opened #4 "[feature request] send out messages to riot (matrix)"
I know that the plugin contains slack in the name, but since it also can be used with mattermost, I going to try out my luck with this feature request : it would awesome for this plugin to be able to talk to riot https://riot.im/ which is a open source / self-hosted / privacy oriented alternative to slack.

This would probably be done via the matrix python client https://github.com/matrix-org/matr

[2017-05-30 15:49] Vikinge opened #5 "Not posting"
When I reboot my octopi, I see octoslack post

But nothing else appears, no start, no failure, nothing.  I can run @octopi status and this returns thumbs up and a 1, but no more information.
Any suggestions for troubleshooting.  I am using the API and have BOT defined for my slack.

[2017-06-03 19:23] mkotek commented on #5
first of all, status command depends on Progress event, that is not enabled in default configuration. Check the settings for octoslack plugin in the configuration and set the event to Enabled.

In order to check if plugin is responding, without changing anything, you can ask your bot help question and you should get the answer. Also, if the command is not understood, it will respond with thumbs do

[2017-06-06 15:46] fraschetti commented on #3
Previous to 1.1.0 (which I've just published), Imgur uploads are dropped into a generic 'anonymous' album not associated with any of your albums. 1.1.0 will now allow you to grant access to Octoslack so that it can upload images into an Imgur album of your choice.

Please feel free to reopen this issue if that does not solve your issue/concern.

[2017-06-06 15:46] #3 closed

[2017-06-06 15:48] fraschetti commented on #2
Fixed in 1.1.0 - for the camera associated with OctoPrint, the image adjustment settings will be applied via Octoslack. For the additional snapshot images, currently we'll need to rely on the individual camera streams to do the appropriate adjustments. If we find that relying on the cameras to do the adjustments as a limitation, let me know and we can consider doing the adjustments for the additio

[2017-06-06 15:48] #2 closed

[2017-06-07 07:45] fraschetti commented on #5
Can you confirm the channel you've configured the plugin to use and/or the bot to use matches the channel where you're executing the @octopi commands?

[2017-06-08 04:55] Ballzyk0umpa opened #6 "Option to change the Print progress {pct_complete} by variables of % or H:M and add new +1 channel for private pings"
1) Since Octoslack is pinging a printer status every 10% intervals There should be a need to modify that to at least 25% OR have it ping it to a private channel within MatterMost. Might wanna add a second option in your plugin under the category "Slack Identity" for a  2nd (or more) Channel name.

2) Maybe add a drop down option to change the Print progress {pct_complete} by variables of either %

[2017-06-08 16:10] Vikinge commented on #5
Updating to your recent release 1.1.1, had newer API configuration, that
solved my issues with IMGUR.  Everything seems to be working fine now.
Thank you for your help.

On Wed, Jun 7, 2017 at 3:45 AM, fraschetti <notifications@github.com> wrote:

[2017-06-09 04:19] fraschetti commented on #5
Glad to hear it; please let me know if you run into any other issues.

[2017-06-09 04:19] #5 closed

[2017-06-09 10:17] fraschetti commented on #6
1.20 has been published and should address both 1 and 2 above.

-The % interval for reporting print progress is now configurable
-For print progress reporting, you can use the existing % based interval as well as a new time (minutes) based interval (you can even use both if you like)
-I haven't yet found time to look into proper direct message support but for now all messages can now be sent to on

[2017-06-09 10:17] #6 closed

[2017-06-11 18:43] fraschetti commented on #5
FYI - I also recently found (and fixed) a bug where "@bot status" wouldn't actually report back the status if the "Progress" event hadn't been checked. I've fixed this for a future build but enabling the "Progress" event on the plugin.

[2017-08-09 13:57] unixb0y opened #9 "[request: Wiki]"
Hello,
I'd love to see a few entries in the Wiki page or in the README as not everything is clear.
I got it set up but no idea if it's the way it is intended to be:
Should we set up a new Slack Account for our printer and invite him into a channel? Or just get an API key and post as "us"?
From trial and error I noticed that if I untick "Slack Identity" I get notifications on my phone, when it's ti

[2017-09-27 00:19] CamoJackson opened #11 "Json Data"
is there any way to add a flag to pause which will read json data
example
i want to add this to my pause report using integration with the Filament Sensor plugin by ovidiu
[code]

[2017-10-30 06:12] ssrjazz opened #12 "Doesn’t seem to detect M600 pause"
Was hoping to use this to detect when an M600 (marlin fw) was issued to pause the print and change filament. Is this possible or can only detect octoprint events only?

[2017-10-30 08:10] fraschetti commented on #12
G-code based events are currently under development. Stay tuned.

[2017-10-30 20:09] jb1t opened #13 "Images do not respect the OctoPrint webcam settings"
I'm running version 1.0.1 of OctoSlack. I'm also running version Version 1.3.5 (master branch) of OctoPrint. I'm running on a RPi 2 model b.

As you can see below I've set the webcam setting to flip both horizontally and vertically. My webcam works great and so does my timelapse videos. However, the images posted to imgur and then being referenced at Mattermost are not respecting these settings.

[2017-11-09 07:47] fraschetti commented on #13
I've just submitted a few debug log items to help diagnose what might be going on here.
For now they're in the sitting in the master branch until I publish a build.

Once you have a build installed with these changes, you can update your OctoPrint logging.yaml (located in ~/.octoprint when using OctoPi) with the following lines and then restart OctoPrint (sudo octoprint restart):

  octoprint.plug

[2017-11-11 07:23] fraschetti commented on #13
1.4.0 has been officially released and includes the previously mentioned debugging logic,

[2017-11-11 07:24] fraschetti commented on #12
1.4.0 has been released and includes support for G-code events

[2017-11-11 07:24] #12 closed

[2017-11-12 02:46] fraschetti commented on #13
Hi @jb1t ,

I absolutely overlooked the fact that you're running Octoslack 1.0.1.
Octoslack's support for respecting OctoPrint's camera orientation settings was added in 1.1.0

Unfortunately the early versions of Octoslack had a typo in one of the properties files which prevented the OctoPrint from detecting/installing new releases as they come out.
The solution here would be to uninstall Octoslac

[2017-11-12 02:46] #13 closed

[2017-11-12 02:58] fraschetti commented on #11
Hi @CamoJackson ,

It's certainly possible to do something like that.
After a few minutes of thinking about this, I'd likely implement it as a generic "shell command --> variable" feature that requires whatever command you run to dump return the exact text you want to standard out (the console) for Octoslack to consume.
To fetch your filament value, you'd just need to write a shell script that lev

[2017-11-12 23:45] ssrjazz commented on #12
THANK YOU!   1.4.0 works GREAT for this!  This will make some of my prints so much easier to catch when its time to switch filament!

[2017-11-13 07:15] stepjanssen opened #14 "Send message when heating is finished and printing starts"
I'd like to be able to receive a message when printing is started after pre-heating is done. I now get a message when I click print, but then I keep checking the camera to see when the actual first layer starts printing.

- Stephan

[2017-11-13 07:44] fraschetti commented on #14
Hi @stepjanssen,

The stock set of events in Octoslack come from hooks provided by OctoPrint.
As far as OctoPrint is concerned, once your g-code starts running, that's technically the 'start' of the print.
The easiest way to accomplish what you described is to inject a bit of custom g-code into your slicer's start g-code template (assuming your slicer support's this if course). From there you can

[2017-11-15 09:34] stepjanssen commented on #14
@fraschetti, many thanks for the clear explanation! Will be trying this on my next print.

[2017-11-16 08:11] fraschetti commented on #14
Sounds good. Let me know if you encounter any issues.

[2017-11-16 08:11] #14 closed

[2017-12-15 13:46] brbjr1 opened #15 "Not able to see location to enter api token in settings"
Octoipi version 1.3.6

In the chrome dev console when loading home page is see error:
packed_core.js?2691f4a1:13555 Error calling onAfterBinding on view model OctoslackViewModel : ReferenceError: Octoslack is not defined
    at HTMLInputElement.onclick (http://192.168.192.133/#temp:5415:202)
    at Object.trigger (http://192.168.192.133/static/webassets/packed_libs.js?eebed41b:7814:27)
    at HTML

[2017-12-15 18:19] MStylesMS commented on #15
I also have this issue.  There is no place to enter the Slack API Token, Slack WebHook URL, or the Imgur account login.

[2017-12-16 17:37] fraschetti commented on #15
Thanks for reporting the issue; I'll take a look asap.

[2017-12-16 21:03] fraschetti commented on #15
This was a quick fix. I've published 1.4.1 which you can wait for OctoPrint to prompt you to upgrade or you can force a check now via the plugin manager.

NOTE: anyone on Octoslack 1.2.0 or earlier are impacted by a plugin upgrade bug and should manually uninstall and then reinstall to get on the latest and greatest.

[2017-12-16 21:03] #15 closed

[2017-12-18 15:53] slintak opened #16 "Unable to set S3 Snapshot Uploads"
This plugin is really great! I am currently using it on two different printers and events itself are very usefull. No I want to set snapshots...

I created new S3 bucket to my Amazon account and created new user with full access permissions to S3 resource. Any event send to Slack now contains snapshot error: `S3 error: 403 Client Error: Forbidden for url: https://*****/Snapshot_b65ea01ee40911e785d

[2017-12-19 08:31] fraschetti commented on #16
I'll take a look. Can you share your OctoPrint + Octoslack versions so I know what we're working with?

[2017-12-19 15:12] MarphXL opened #17 "Update 1.4.0 -> 1.4.1 not possible"
Have OctoPrint v1.3.6 on a raspberry pi jessie lite and Octoslack v1.4.0.
Getting the Update-Message for OctoSlack v1.4.1
After installing via Webinterface, OctoPi installed succesfully, reboot and I have only v1.4.0 and get the updatemessage to 1.4.1.
Try it for several times.
What should I do?

[2017-12-19 18:08] fraschetti commented on #16
Hi @slintak
From the Octoslack perspective and ultimately the AWS S3 AP perspective, the access key + secret key + bucket are all that can be configured.
From there you'll need to ensure your permissions are set correctly on the bucket itself for the user you created to access it.
You'll need to play around in your S3 console but I suspect you'll want to visit the Permissions tab when editing your

[2017-12-19 18:08] #16 closed

[2017-12-19 18:10] fraschetti commented on #17
Hi @MarphXL
The upgrade likely succeeded but in my rush to get the 1.3.6 out the door, I failed to bump the internal Octoslack version in the code to 1.4.1. The end result is OctoPrint thinking Octoslack is still on 1.4.0 but that git has a 1.4.1 available.
I'll be pushing another release shortly which won't have any new functionality but should take care of this upgrade issue.

[2017-12-19 22:37] MarphXL commented on #17
great Chris! And good Job. It's a fantastic plugin

2017-12-19 19:10 GMT+01:00 Chris Fraschetti <notifications@github.com>:

[2017-12-20 00:38] fraschetti commented on #17
I've just released 1.4.2 which should fix this upgrade issue.
Thanks!

[2017-12-20 00:38] #17 closed

[2017-12-29 05:06] MStylesMS opened #18 "Printing crippled by incorrect IMGUR settings."
First of all, thanks for a great plug-in that I needed!  I hope this feedback helps.

So first, the instructions for IMGUR image hosting don't follow what is actually needed.  In the instructions you provide a link to authorize the application but it generates the following error:

"data":{"error":"HTTP Access is disabled. Requests must use SSL (HTTPS)."},"success":false,"status":400}

The issue a

[2017-12-29 05:14] MStylesMS commented on #18
Also, I just noticed that there was a setting at the bottom that looked blank but was actually producing a notice upon every OK response, which also killed the printing.  While that was a user error on my part, it might be nice to filter and produce a warning for such situations.  I don't even know when or how that was set.

[2018-01-23 08:56] fraschetti commented on #18
Hi @MStylesMS

I've submitted an fix for the Imgur link (HTTP --> HTTPS) for a future release. It does indeed look like their site stopped supporting HTTP.

Can you share a few more details on the setting that was generating so many Slack messages?

[2018-01-23 16:53] MStylesMS commented on #18
As I remember, there wasn’t a particular setting that caused it.  What the problem appeared to be was that it kept trying to post to IMGUR and for some reason was posting a message about the failed post to Slack.  Unfortunately I deleted that channel from Slack because it had several hundred (maybe over a thousand) messages that were taking up the capacity of 10,000 messages I had at the time.

Ma

[2018-01-25 09:22] fraschetti commented on #18
Hi @MStylesMS

I was able to easily reproduce the G-code event issue by saving an entry with a blank 'G-code' field.
I've just published Octoslack 1.4.3 which fixes the Imgur addclient link (switched to HTTPS) but also will ignore these blank G-code events.

Thanks for submitting this issue.

[2018-01-25 09:22] #18 closed

[2018-01-25 13:22] MStylesMS commented on #18
Thank you for fixing it!

[2018-03-03 07:31] scns opened #19 "Layer number variable support"
Hi,

Is it possible to get an variable for the actual layer number and the actual time?

Kind regards

[2018-03-04 17:41] fraschetti commented on #19
Hi @scns ,

1. By "layer number" are you referring to the current Z-height or a slice derived layer number? Exposing the current Z height as a variable shouldn't be difficult - assuming that's what you're looking for.

2. For "actual time" - can you be a bit more specific? Are you looking for the elapsed time? time remaining? estimated total print time?
The library already provides:
{elapsed_time}

[2018-03-04 18:44] scns commented on #19
With the layer number i mean layer 86 of 126.

See image in OctoPrint:

![Image](https://i.imgur.com/mdAOtzW.jpg)

And the actual time I just mean he system time of the raspberry.

But the layer number should be very nice if that is possible!

[2018-04-02 02:14] edsvcs commented on #16
@slintak Did you get this to work? I just setup  Octoslack and am running into the same error message. I appreciate any pointers you can share.

[2018-04-02 06:41] edsvcs commented on #16
For testing I granted some pretty broad IAM permissions and now OctoPrint / Ocoslack is creating image files in my S3 bucket and I no longer see the error messages in Slack but I also don't get pictures or links in the Slack messages... any ideas? I have deslected and reselected the check boxes in Octoslack indicating that snapshots should be included.

[2018-04-02 15:37] edsvcs opened #20 "Setup question with S3"
Cool plugin. I'm looking forward to using it fully!

Initially I was have a problem where no images were being created in my S3 bucket and Slack would display an error message "- S3 error: 403 Client Error: Forbidden for url: https://xxxxxxxxx"  with each message from Octoslack. I changed my bucket permissions to match a public web site, meaning that anyone who has a file URL can display it, and I

[2018-04-02 15:41] edsvcs opened #21 "Slack configuration question"
This is the first time I have added any services to Slack so I apologize in advance for the newbie question. I produced a legacy API key and added that to Octoslack and it is posting messages and responding to messages, but the messages all appear to be from me, so I am never alerted to them. From what I read about Bots it did not make sense to create a Bot and give that API key to Octoslack (they

[2018-04-02 15:43] slintak commented on #16
Hello @edsvcs. I ended up with the same problem as you. Photos are stored in S3, but Slack won't display them. I am using Slack webhooks.

[2018-04-02 15:50] edsvcs commented on #16
Thanks @slintak . I opened a new issue. Hopefully between the two of us we'll come up with a solution.

[2018-04-03 11:39] slintak commented on #20
I had similar issue with S3 (#16 ). I was able to set up AWS permissions and now Octoslack uploads images as expected. Now I have the same problem as @edsvcs -- no image snapshot in Slack message. Octoslack is configured to use webhooks and images in S3 can be displayed by anyone with URL.

[2018-04-04 06:53] hanzov69 commented on #21
@edsvcs I ran in to a similar issue. It's non-obvious, but here is a quick explanation of what you need to do:

Create the application in slack api
create a bot user
install the app
then go back to install app, and you should see a bot user oauth token, will begin with xoxb-

as a cheat, this link (might) work to take you where you need to be: https://api.slack.com/apps/AA102T3FX/install-on-team?

[2018-04-10 14:24] edsvcs commented on #21
Thank you @hanzov69. This worked in terms of getting Octoslack to post as a bot instead of as me. I still don't get any images included in the messages even though they are captured. Did you get that part to work?

[2018-04-10 14:26] edsvcs commented on #20
Just a follow up on this. I redid my integration using a bot this time. I am using the API because the on-screen instructions indicate some functionality might not work with web hooks, but still no images.

[2018-04-10 15:01] hanzov69 commented on #21
@edsvcs I did, I just went down the imgur path. What was odd was the the first time it attempted to post an image, it was just a black field, and nothing was uploaded to imgur. Restarting the octopi (for unrelated reasons) seemed to fix it right up though.

[2018-09-03 08:31] uwezi opened #25 "suggestion: timed status when not printing"
I would appreciate if there was an option to send regular status messages from the bot even when the printer is not printing - just to see that everything is ok...

[2018-09-03 08:35] uwezi opened #26 "[issue?] bot away"
I managed to configure the plugin for three 3D-printers running octoprint. I even got imgur running for my own printer but not yet for the two printers at work.

However, I had some issues(?):

- two of the bots suddenly disappeared from slack and I had to re-configure the bots
- all three bots stopped answering to status queries - is this only active while octoprint is printing?
- all bots are "a

[2018-09-20 14:34] JoKneeMo opened #28 "[Feature Request] Upload rendered timelapse"
When a timelapse render is completed, the only configuration option is to post the screenshot to the slack channel. Would it be possible to have it post the rendered video?

For the record, I'm using Amazon S3 for uploads and Rocket.Chat as the Slack API endpoint.

I imagine it doesn't already do it because imgur is the default uploader.

[2018-10-12 12:30] jalanjarosz opened #30 "Feature Request - Post notificaiton with Firmware triggers"
I have a Marlin Firmware based runout sensor.  Marlin triggers a M600 which pauses the print, moves the head and sets a timer for head cool-down until resumed by the end-user.

Marlin sends the following to the terminal screen when an event occurs: **echo:enqueueing "M600"**

Is it possible for OctoSlack to monitor for "received" events and send notification, like the  GCode setup?

[2018-10-13 16:53] fraschetti commented on #30
Hi @jalanjarosz,

Possibly. I'm overdue to upgrade my Prusa MK2 (upgrade kit(s) already in hand). I can likely give this a closer look once I have my local printer upgraded.

[2018-10-13 16:57] fraschetti commented on #28
Hi @JoKneeMo,

Entirely possible. I played a bit with attempting to render the snapshots to an animated gif but apparently Python (the underlying language for OctoPrint and Octoslack) is a bit lacking in this department.
More specifically, it can be done but the libraries required to make it happen are not precompiled for the RaspberryPi architecture. As such, installing a plugin that uses these l

[2018-10-13 16:58] fraschetti commented on #25
Thanks for the suggestion, I'll add it to the list.

[2018-10-14 23:30] JoKneeMo commented on #28
I looked at the code further and see that the snapshots are taken directly by the plugin.
While making a GIF of the collected snapshots sounds interesting, I wouldn't find it useful for my use cases.

My use case is to just upload the timelapse already rendered by octopi to Amazon S3.
It looks like the `MovieDone` event includes the full path to the file as `movie`.

I'm not that great at coding m

[2018-10-27 14:21] gcoltharp opened #33 "Docker instance"
When deploying to a docker instance of Octoprint, it would be helpful to have the list of packages required so they can be deployed prior to install.

[2018-10-31 05:07] fraschetti commented on #33
Hi @gcoltharp,
I suspect you'll want to ask your question directly git project or one of its supporting communities.
I'd start here: https://github.com/foosel/OctoPrint

[2018-10-31 05:07] #33 closed

[2018-10-31 05:09] fraschetti commented on #25
Hi @uwezi
This logic is in and it'll be included in the next update.
Keep an eye out for a new "Printer status heartbeat" event which can be configured to send a message every N minutes

[2018-10-31 05:12] fraschetti commented on #28
Hi @JoKneeMo
I don't personally use the timelapses because they don't (yet) support multiple cameras. Because of that, I wasn't even thinking of the OctoPrint timelapse feature when I originally sent my response.
I'll play around with this a bit - The Octoslack side of things isn't terribly complex but I want to see how a long S3 upload might behave within the OctoPrint ecosystem.

[2018-11-07 22:23] cmeister2 opened #34 "AttributeError: 'OctoslackPlugin' object has no attribute '_bot_progress_last_req'"
Hi,

I wanted to have a play with this plugin locally, so I cloned it at 4cfbd33f. I sent a 'status' request in Slack to the bot and it hit this exception:
[code]
I then turned off the Raspberry Pi temperature query and retried, with the same error:
[code]

[2018-11-08 03:53] fraschetti commented on #34
Hi @cmeister2,
The RasPi temp logic is enabled by default as the vast majorty of people using the plugin are runnign RasPis. To be a bit more accomodating of other platforms given the default is True, I've tweaked the logic to detect the "not found" scenario and log a simple error vs. a overly verbose exception + stack trace.

I also noticed **_bot_progress_last_req** and a couple of other related

[2018-11-08 04:10] fraschetti commented on #26
Hi @uwezi

[Fraschetti] I'm not sure what happened here. From my side of things, the bot itself doesn't have permissions to remove the bot nor is there any logic in the pluging that would even try.

[Fraschetti] Do you mind enabling DEBUG logging for the plugin and then reporting back with your octoprint.log once you've seen the issue happen again? I've also added a bit more logging to this connec

[2018-11-08 09:20] cmeister2 commented on #34
That seems to have fixed things; I now get:
[code]
which is great. Thanks!

[2018-11-08 09:20] #34 closed

[2018-11-09 04:08] fraschetti commented on #28
This functionality is now available in 1.6.0

[2018-11-09 04:08] #28 closed

[2018-11-09 04:09] fraschetti commented on #25
This functionality is now available in 1.6.0

Curently the heartbeat is active even when printing. Let me know if that's an annoyance I can consider halting the heartbeats while a print is in progress.

[2018-11-09 04:09] #25 closed

[2018-11-09 04:12] fraschetti commented on #21
Hi @edsvcs

Are you still having issues? If so, let me know. If not, I'll close out this issue.

Thanks!

[2018-11-09 04:15] fraschetti commented on #20
As mentioned in the pull request referenced above, there may be two variations that I need to ensure Octoslack supports. I've just finished getting 1.6.0 out the door and pendind any major issues, I'll start looking into the changes @slintak has submitted in hopes of getting in a fix that works for everyone.

[2018-11-09 04:29] fraschetti commented on #19
Hi @scns

Just to let you know - I've not forgotten about this request.
I did look into this immediately after you submitted your previous response but never found the time to post my findings here.
Unfortunately OctoPrint's layer calculation logic is all client-side and isn't available to our plugins without some serious hacks that would be unreliable to say the least.

The alternative solution I

[2018-11-09 04:31] fraschetti commented on #11
It's been (almost) a year without any activity on this issue. I'll close it out until the request comes up again.

[2018-11-09 04:31] #11 closed

[2018-11-09 04:33] fraschetti commented on #19
Also, {eta} was added in 1.6.0 (just released) which may satisfy your "actual time" request.

[2018-11-12 15:16] trunzoc opened #35 "Version number in Setup.py is wrong"
Setup.py still says 1.6.0.  Octoprint keeps showing the update notification, because even though 1.6.1 is installed, it thinks is 1.6.0

[2018-11-12 15:49] fraschetti commented on #35
Thanks @trunzoc
I've just bumped the version to 1.6.1 and published a "new" release. Once OctoPrint's internal plugin cache expires (should be less than 24 hours) or if you fore an upgrade check, you should see 1.6.2 and be good to go after that upgrade.

Thanks for letting me know about this issue.

[2018-11-12 15:49] #35 closed

[2018-11-12 15:53] trunzoc commented on #35
Thanks!

[2018-11-12 20:49] jalanjarosz opened #36 "Update to 1.6.1 installs 1.6.0."
After running OctoPrint update to install 1.6.1, the update window shows that 1.6.0 is installed and OctoPrint keeps prompting to update OctoSlack to 1.6.1.

[2018-11-12 20:51] jalanjarosz commented on #36
Closing - Found under Code - > Releases of GIT that 1.6.2 should resolve this issue.

[2018-11-12 20:51] #36 closed

[2018-11-13 18:08] scns commented on #19
Tnx for the update and making the {eta} available. I will look for another option to get the Layer_num available.

[2018-11-13 18:08] #19 closed

[2018-11-15 15:13] steckdev commented on #20
Thanks so much for your effort on this. I was fighting with the issue of too many pictures on Imgur.

[2018-11-15 17:34] calonmerc opened #37 "WebDav Integration"
Love everything about the plugin, currently using it with Imgur. Would love if there was an implementation for the WebDav protocol for OpenSource storage software like Owncloud/Nextcloud.

[2018-11-16 03:41] fraschetti commented on #37
Hi @calonmerc
Thanks for the suggestion.
I've never personally used the software you mentioned.
It may be straightforward enough to upload snapshots/timelapses via the webdav protocol but surfacing them via Slack may be a bit more tricky.
Can you share some additional context as to what you're hoping to happen once the file(s) have been uploaded?
Is there a mechanism to expose them via HTTP/S?
I'v

[2018-11-16 14:21] calonmerc commented on #37
My Nextcloud instance is publicly accessible, as I imagine most use cases are. It's similar to a NAS, but meant to be a replacement for Dropbox, Google Drive, or similar.

You can set public permissions on the file to be accessible from the web directly, but I don't know how much of that is surfaced directly in the WebDAV protocol. It may be something I need to investigate simply as an alternative

[2018-11-21 09:31] andre726 opened #38 "[Feature Request] Add support for Rocket Chat"
Hello it's possible to do this plugin compatible with rocket chat?

[2018-11-21 19:15] uwezi opened #39 "octoprint crash caused by octoslack?"
Yesterday one of our octoprint installations crashed. The log file indicates problems from octoslack, however, I didn't have any time to investigate further...
[20181120_ocotcrash.txt](https://github.com/fraschetti/Octoslack/files/2605461/20181120_ocotcrash.txt)

[2018-11-22 23:46] fraschetti commented on #39
Hi @uwezi

Thank you for attaching the OctoPrint log.
Octoslack may or may not be the culprit here.

The short version: Try turning off "Include RasPi temp" in the Octoslack config (it's at the top). Give that a try and let's see if your memory/crash issue comes back.

The longer version: Each time Octoslack calls out to the OS to grab the Pi's temperature, it uses the 'subprocess' library which p

[2018-11-23 09:21] uwezi commented on #39
I myself run Octoslack on 4 printers and it was only this one which crashed so far... We previously had issues with the limitations of both Slack and Imgur and already disabled the snapshots - it simply doesn't work since there is no way to bulk-delete conveniently on either Imgur or Slack. Now on the same pi that crashed a cron-job is running deleting all Octoslack messages on Slack which are old

[2018-11-26 14:54] calonmerc commented on #37
I've spent some time looking into this, and found that it should be possible using the OCS API to enable a publicly shared folder by link. Unsure of the development requirements, or how else I can help integrate (I can give you some space on my server for testing, if you'd like).

https://docs.nextcloud.com/server/12/developer_manual/core/ocs-share-api.html

[2018-12-11 19:30] reven opened #40 "[Feature request] Add config option to include IP in status message"
It would be great to have an option to add the IP to the status message.

[2018-12-11 20:38] reven commented on #40
Yes, actually that would work I guess. I was thinking more in the info line for each update, next to the temperature and other things. But this is much better and less verbose. Thank you!

[2018-12-11 20:38] #40 closed

[2018-12-25 08:48] tedder opened #41 "'ETA' is always 'now'"
Let me know what info you need to reproduce, but here are some examples.

sent at 12:02:

sent at 12:33:

[2019-01-09 06:55] fraschetti commented on #41
Hi @tedder

Can you confirm the time zone the machine running Octoprint is configured to use as well as the time zone (if any) you've configured for Octoslack to use (via Octoslack's _ETA timestamp time zone_ setting)?
It'd be helpful to see the progress output as well the output of **timedatectl** (assuming you're on linux) for that same time period.

[2019-01-09 07:12] fraschetti commented on #38
Hi @andre726,

I took a look at Rocket Chat and they do have a similar webhook feature to Slack + Mattermost.
Unfortunately Rocket Chat's expected incoming webhook postMessage format differs from Slack (and Mattermost who mimics the Slack format) and therefore a bit of extra work is required to make this work for Rocket Chat. I'll keep this request open and will likely tackle it as some point. If

[2019-01-09 07:15] fraschetti commented on #39
Hi @uwezi

Any chance you've seen the memory issue occur again?
If so, we can dig in more. If not, I'll likely close out this issue until it occurs again.

As for the upload to ftp (or perhaps sftp), feel free to open a feature request and I'll likely work on it as time permits.

[2019-01-09 08:51] fraschetti commented on #37
Hi @calonmerc

I spent a few minutes tonight looking at what could be done here.

- There's an existing Python (the language used for OctoPrint + Octoslack) library for WebDav (https://github.com/ezhov-evgeny/webdav-client-python-3) which seems like it should get the job done.

- Constructing the URL for the uploaded asset is fairly straighforward - _webdav server:port + path + asset_  (with maybe

[2019-01-09 09:15] fraschetti commented on #26
Hi @uwezi

Any chance you found time to look at my responses/questions?

[2019-01-09 16:23] tedder commented on #41
Reading through the code now. I'm using this in addition to PrintTimeGenius, I wonder if it is setting the estimated time to zero. I'll look at the data being returned in the API.

[2019-01-12 20:53] Minhyme commented on #26
Hey @fraschetti, my bot seems to go offline after a while of idling. It will still send status updates every 25% per my settings but it will not respond to requests. It will only come back online after restarting my octopi. I will enable debugging logging and get back to you.

[2019-01-17 08:00] fraschetti commented on #30
Hi @jalanjarosz

I've completed development of this enhancement and it'll go out the next time I push a new release (TBD).
Specific to catching the output for the filament runout sensor (M600), below you can see the relevant statements sent from my Prusa MK2.5 firmware and received by OctoPrint. My personal preference woud likely be a G-code received event that looks for "**fsensor_update - M600**

[2019-01-17 08:08] fraschetti commented on #26
Hi @Minhyme
If you can provide even a single Octoprint log file and prvoide me with the context of what timestamps you believe the bot was online/offline, I'd appreciate it.
I'd first like to see what the log file might be telling us and if it's ultimately not very useful, I'll look into adding additional logging to help diagnose the issue.

[2019-01-18 02:43] Minhyme commented on #26
Hey @fraschetti,

I will need to setup an experiment tomorrow to print and then check slack periodically to determine time stamps. What's the best way to get you a log file? Will respond tomorrow once I have the timing on when the bot goes offline.

[2019-01-18 09:08] fraschetti commented on #26
Hi @Minhyme,

You should be able to attach the log file here. If you run into issues, feel free to just send it to me directly - fraschetti.dev@gmail.com

[2019-01-19 00:46] Minhyme commented on #26
Hey @fraschetti,

Please see the log file attached. I started with a system restart and then used the printer as I normally would. First checked the bot at 13:00 and was online. Checked the bot every half an hour until it went offline. Completed one print and started another in that time. Bot went offline some time between 17:00 and 17:28. Sent an "@printer status" at 17:38 through slack with no r

[2019-01-19 07:48] fraschetti commented on #26
Thanks @Minhyme
As you suspected, that log file didn't have anything that suggests what might be going on.
I've been digging deeper into library I'm using for Slack connectivity and it looks like there may be some deeper level functionality to detect stale connections, reconnect automatically, etc. - I'm working on that logic now. I'll likely let those changes bake here locally for a small while b

[2019-01-21 22:26] ZAMHelmets opened #43 "Install Issue"
Got the following error when installing on Octoprint 1.3.6 from the command line:

    building 'PIL._imaging' extension
    creating build/temp.linux-armv7l-2.7
    creating build/temp.linux-armv7l-2.7/src
    creating build/temp.linux-armv7l-2.7/src/libImaging
    Building using 4 processes
    arm-linux-gnueabihf-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fno-strict-aliasin

[2019-01-21 22:31] ZAMHelmets commented on #43
Yeah - it’s what’s supported by our 3d printer. I’m going to upgrade to an unsupported build, but there are other issues I anticipate in doing so. Is there one you recommend and/or currently test against.

[2019-01-21 22:41] tedder commented on #43
1.3.10 is current. It's weird that your system is trying to *build* Pillow (PIL). That's what I'd look into.

[2019-01-25 01:17] fraschetti commented on #43
Hi @ZAMHelmets

I've been specifically choosing packages which are pre-compiled and available for the RaspberryPi.
While this isn't directly related to Octoslack, I don't mind trying to debug this with you.

Can you share a bit about the device/OS you're using?

For context, I have multiple Rasberry Pi 3B+ devices running OctoPi 0.15.1 (https://github.com/guysoft/OctoPi) and they have no issues in

[2019-01-26 05:49] fraschetti commented on #30
1.7.0 was just released with this enhancement. Have fun!

[2019-01-26 05:49] #30 closed

[2019-01-26 05:51] fraschetti commented on #26
@Minhyme
I just published 1.7.0 which includes includes the reconnect logic I previously mentioned as well as a hearbeat/ping that will attempt to keep the connection alive (Slack actually states this should happen when a client is idle). I'll leave this issue open for now - please report back once you've upgraded and have had a chance to see if the issue has been resolved.

[2019-01-26 12:41] hakan42 opened #44 "high CPU load caused by very quick reconnection attempts"
I have just updated from 1.6.2 to 1.7.0. The 1.6.2 version is working correctly.

With 1.7.0, octoprint.log is flooded with reconnection attempts, which causes the CPU load to spike and makes printing impossible:

[code]

[2019-01-26 16:00] fraschetti commented on #44
Hi @hakan42
Thanks for reporting this issue. Do you mind attaching your Octoprint.log so I can take a look at what was recorded before the errors started spewing?

For now, I'd reccomend disabling Octoslack or switching to the Webhook connection method.

Thanks!

[2019-01-26 16:32] fraschetti commented on #44
Hi @hakan42

I've found where the issue is happening and have a bit of a fix but it's not completely obvious why that issue would have even happened in the first place. Instead of blindly submitting this fix, do you mind helping me investigate the root cause?

1. Enable DEBUG logging
2. Reproduce the issue
3. Send Octoprint.log

Instructions to enable DEBUG logging for Octoslack

* Enable DEBUG lo

[2019-01-27 20:06] Minhyme commented on #26
Hey @fraschetti,

I've upgraded and tested the new build. I haven't experienced any disconnecting. During my testing last time, the bot was online between 4 and 4.5 hours. So far my uptime is 20 hours and the bot is still going strong!

Also I am very happy with the new feature of being able to define custom messages off of gcode snippets. Monitoring for crashes with my Prusa i3 MK3 remotely is no

[2019-02-06 17:48] JFSolution opened #45 "Failed to reconnect via Slack RTM API"
In the current release 1.71 I get errors in the Log:
octoprint.plugins.Octoslack - ERROR - Failed to reconnect via Slack RTM API
and I get only the octoprint service has startet message in Slack, the commands do not work.

I updatet my other octoprint Server to the new release and don't get this messages.

[2019-02-07 09:31] fraschetti commented on #45
Hi @JFSolution

1. Can you share the details of your setup? OctoPi, custom RasberryPi build, windows?
2. Do you mind sharing a debug log that reproduces the issue? Steps below.
3. I have a number of post 1.7.1 changes related to this logic which should make it a bit more resilient. I'm baking those changes but it'd be good to see your log file to confirm your issue.

1. Enable DEBUG logging
2. Rep

[2019-02-07 09:34] fraschetti commented on #44
Hi @hakan42
I've made a few more changes that I believe should help - prevent infinite loops & be resistant to additional failure modes.
These changes are baking on a RasPi and Windows install on OctoPrint before I push a new release.
I'll reply here once I have more information to share.

[2019-02-09 03:59] fraschetti commented on #39
Closing due to inactivity; feel free to provide more details if you see the issue again.

[2019-02-09 03:59] #39 closed

[2019-02-09 04:01] fraschetti commented on #26
Hi Folks,

I have a few Bot/RTM API changes baking that should make the connections even more resilient (particularly for our windows users).
The core issue here seems to have been addresses so I'm going to close this issue. Please feel free to report any future issues you might encounter.

[2019-02-09 04:01] #26 closed

[2019-02-09 04:02] fraschetti commented on #43
Closing due to inactivity and the simple fact that Octoslack itself was unlikely at fault here.

[2019-02-09 04:02] #43 closed

[2019-02-09 13:38] ZAMHelmets commented on #43
Sorry. I’ve been traveling and waiting for a fix from the print vendor to see if that resolved the issue. Will post here again if I isolate the issue to Octoslack. Thanks.

[2019-02-10 10:57] JFSolution commented on #45
Hi @fraschetti
yes of course:
1. it is a custom Raspberry Pi build
2. the log (i overwrite the custom slack info with "_____"):
[code]

[2019-02-14 02:21] jalanjarosz commented on #30
fraschetti -
Thank you for the enhancement!  I was finally able to trigger a runout trigger and it worked like a charm!  Great job!  Keep up the awesome work on the plug-in.

[2019-02-16 04:27] fraschetti commented on #45
Hi @JFSolution
Do you mind including a bit more from your log?

When starting the Slack RTM (Real Time Messaging) logic, two things happen:
1. It uses the standard HTTP REST API to validate your Slack API Token is valid (via https://slack.com/api/...) over HTTPS/port 443. Your token appears to be valid.
2. If your token is valid, it attempts to establish a WebSocket connection (https://api.slack.c

[2019-02-17 14:31] JFSolution commented on #45
Hi @fraschetti ,
it is still a issue for me. I use your Plugin since a few year but since a few month or so the status is not working anymore.

I have a second Octoprint which I installed with Octopi there is the status working again after the latest update. It dind't work the months before. So I don't think the router or a firewall is the problem.

2019-02-10 11:43:34,809 - octoprint.startup - IN

[2019-02-18 05:34] fraschetti commented on #21
This issue is rather old; feel free to repoen it if your issue surfaces again.

[2019-02-18 05:34] #21 closed

[2019-02-21 05:37] fraschetti commented on #20
I've just pushed 1.7.2 which includes a drop-down option to switch between the two Amazon S3 URL styles. It's rare that this should matter but if your bucket meets one of a limited number of critiera, you might need to use one or the other.
Feel free to reopen this issue if you continue to have problems.

[2019-02-21 05:37] #20 closed

[2019-02-21 05:41] fraschetti commented on #45
Hi @JFSolution

I've made a few additional Slack RTM tweaks in 1.7.2 (just released) but I'm not entirely sure they'll solve you're issue. Give it a try when you have the time and let me know if your situation changes.

[2019-02-21 11:50] JFSolution commented on #45
Hi @fraschetti ,

I installed it and tested it, but nothing changed.
The status is still not working just the normal Octoprint Events.
Here is the new Log:

2019-02-20 12:15:59,659 - octoprint.server.heartbeat - INFO - Server heartbeat <3
2019-02-20 12:15:59,671 - octoprint.server - INFO - --- Log roll over detected ---------------------------------------------------
2019-02-20 12:15:59,671 - octo

[2019-02-21 20:42] tedder opened #48 "add MetadataAnalysisFinished to possible events"
I want to get pinged when MetadataAnalysisFinished is done, with some specifics:

- ignore if `result { analysisPending == true }`
- output the result.analysisPrintTime (seconds), result.compensatedPrintTime (seconds), result.estimatedPrintTime

Creating this though I intend on doing it and submitting a PR. Still, putting it out here.

[2019-02-21 20:43] tedder opened #49 "minio snapshots do not show up"
I've added some debugging, but I need to figure out where minio uploads are failing. Again, this is a ticket mostly for myself, though I'd love to hear if minio is working/failing for others.

[2019-02-22 05:10] fraschetti commented on #44
Hi @hakan42
I've realeased 1.7.2 which contains a fix for the reconnection delay logic and some additional logic to prevent getting stuck in error/exception loops.
Please feel free to reopen this issue if you see the problem again.

[2019-02-22 05:10] #44 closed

[2019-03-06 14:58] SylZap commented on #49
Hi. It work for me.
I've just edit the policy for the bucket in order to allow reading file beginning by "Snapshot".

![editpolicy](https://user-images.githubusercontent.com/24316879/53890461-8eca4180-4028-11e9-8512-6f32683f4a4a.png)
![policy](https://user-images.githubusercontent.com/24316879/53890468-912c9b80-4028-11e9-9275-9444762aa4fe.png)

[2019-04-17 16:49] kazibole opened #50 "Print progress update method in-place no longer working"
I have the print progress update method set to "in-place". It used to work correctly, however within the last few weeks I have noticed that it is no longer working (it will output a new message for each status update). Recently I have been testing OctoPrint 1.3.11 (currently on rc3), not sure if this is the cause of the problem or something unrelated.

Let me know if you need me to do any testing

[2019-04-18 15:21] calonmerc commented on #37
Sorry for taking quite a while to get back to this!

Sadly, I am not seeing images being directly view-able without logging in or setting up link sharing. If I set the directory they're uploading to as shared via a link with no password, then any of the images show up in Slack just fine!

[2019-04-18 15:28] calonmerc commented on #37
Here is a directory that is link shared with no restrictions:
[Directory](https://cloud.hfd.xyz/s/WkNG2na836KNwxW)
[Sample Timelapse](https://cloud.hfd.xyz/s/WkNG2na836KNwxW/download?path=%2F&files=xyzCalibration_blank_20181206154858.mpg)
[Sample Image](https://cloud.hfd.xyz/s/WkNG2na836KNwxW/download?path=%2F&files=snapshot%20(1).jpg)

[2019-04-22 18:49] diyengineer opened #51 "Feature Request- automatically print completion (or any message)."
After print completion, how could I have the slack message automatically printout on paper with whatever printer is setup on slack? Slightly inspired by: (Where this printer will print out your tweets).
https://learn.adafruit.com/pi-thermal-printer/twitter-setup

Thanks!

[2019-04-22 18:54] diyengineer commented on #51
https://slack-bot.mobilewebprint.net/

Or.. link to HP BOT and have it print automatically instead of clicking print.

[2019-04-22 19:18] tedder commented on #51
Implementing this is getting really close to [jwz's law](http://www.catb.org/jargon/html/Z/Zawinskis-Law.html).

[2019-04-23 03:03] smitty97 opened #52 "[Feature Request] Limit what commands can be executed & access controls"
I need a separate "listen to commands" toggle that only allows safe readonly commands.  So my slack buddies don't mess with prints.  :) Or, have it do stop/pause/resume only from a specified slack username.

[2019-04-23 03:33] tedder commented on #52
What commands would be remaining in this use case?

[2019-04-23 04:18] smitty97 commented on #52
i suppose just 'status'

[2019-04-23 04:21] tedder commented on #52
It doesn't seem terribly worthwhile- just unset it and adjust the progress percentage to the right level.

[2019-04-23 11:14] smitty97 commented on #52
Yeah, you have a point.  I'd like it to be useful though, just not open to abuse from all in that channel.  How about the allowed username list?

[2019-04-26 07:26] djfab59 opened #53 "Rotate additional Camera"
Hello,

First, thanks for this plugin.

Is there a way to rotate an additional camera?

[2019-05-19 07:28] negativ72rus opened #54 "Installation problem"
After installing the plugin in the list of installed it does not appear
OctoPrint: 1.3.11

[2019-05-19 09:16] fraschetti commented on #54
Hi @negativ72rus

- Can you share the details of your setup? OctoPi, custom RasberryPi build, windows?

- Have you checked your octoprint.log? There's likely an Octoslack related error being logged there that might explain what's going on.

[2019-05-19 10:12] negativ72rus commented on #54
hi @fraschetti
i use OctoPi

Octoslck was installed befor, but one day in log i found:
[code]
then i install it again
in log:
[code]

[2019-05-25 02:38] fraschetti commented on #54
Hi @negativ72rus

I've never see this problem before but it also appears you're experiencing issues with the **anywhere** plugin as well.

A few initial questions:
1. Are OS/device are you using?
2. Assuming you're on a linux distro, can you check the output of this command to ensure you can actually pull the install correctly?
curl -v -L https://github.com/fraschetti/Octoslack/archive/master.zip

[2019-05-25 02:39] fraschetti commented on #53
Hi @djfab59

Not yet but this should be a simple addition; the only cost is the extra CPU/time to rotate the image(s).
I'll take a look when time permits.. stay tuned.

[2019-05-25 07:59] fraschetti commented on #53
Good news @djfab59 ...

I found a bit of time tonight to add this into Octoslack. I have a few other changes I'd like to implement soon and once those other tasks are complete, this functionality will be available.

[2019-05-28 22:26] ax42 commented on #54
Same issue here I think -- OctoSlack working fine on an existing octopi, and am busy moving to a new odroid install.  Plugin did not restore from the backup, and installing it gives errors.

The issue seems to be missing header files for the zlib libraries - `apt-get install zlib1g-dev` fixed it for me.

[code]

[2019-06-16 07:36] fraschetti commented on #53
Hi @djfab59
This functionality is now included in the 1.8.0 release.
Please let me know if you run into any issues.

[2019-06-16 07:36] #53 closed

[2019-06-16 20:50] fraschetti commented on #49
@tedder and @SylZap

I hope this has working for you both. Just as an FYI, the snapshot images produced by Octoslack itself will have the Snapshot prefix the timelapse videos generated by Octoprint will be named differently. Octoprint uses the name of your print + a timestamp for its .mpg files.
It doesn't hurt to leave this ticket open a bit longer but if @tedder has this working, feel free to cl

[2019-06-16 20:53] fraschetti commented on #54
For reference, the same issue was reported for Octolapse as well:
https://github.com/FormerLurker/Octolapse/issues/342

[2019-06-16 21:01] fraschetti commented on #54
Closing this issue as this isn't specifically an Octoslack issue and a suitable workaround has been identified:

`apt-get install zlib1g-dev`

[2019-06-16 21:01] #54 closed

[2019-06-16 21:22] fraschetti commented on #51
Hi @diyengineer

There are two ways to approach this:
1. A slack app/bot which receives the messages sent to the channel and prints them out for you. The bidirecitional websocket approach (https://api.slack.com/rtm) - feel free to poke around the Octoslack surce for "RTM"

2. A modification to Octoslack itself to execute a shell command with the event text and that shell command could print your t

[2019-06-16 21:22] #51 closed

[2019-06-16 21:57] tedder commented on #49
FWIW the reason it doesn't work for me is Minio is on a private network, I think.

[2019-06-18 20:51] kazibole opened #55 "Updated to 1.8.0, settings not being saved or shown properly"
Upgraded from 1.7.2 to 1.8.0. I noticed that my custom gcode events were no longer working. Checked the settings page and they were gone. I can re-create them but when I restart OctoPrint they will be lost again. I also noticed that some of the other settings are behaving strangely.

ETA timestamp time zone is blank:
![image](https://user-images.githubusercontent.com/34734155/59718972-e90a9f00-91e

[2019-06-19 08:38] fraschetti commented on #55
Hi @kazibole

I've identified and fixed the issue - you may need to resave your settings once you upgrade.

I've just pushed 1.8.1 - feel free to give it a try and let me know whether or not I've resolved your issue.

Thanks in advamce.

[2019-06-19 08:39] fraschetti commented on #45
Hi @JFSolution

Just checking in to see if you've still been having Slack app/bot issues. It's been smooth sailing on my end but I wanted to check in to see if your issue had been resolved as well.

Thanks in advance.

[2019-06-19 13:28] kazibole commented on #55
Appears to be fixed in 1.8.1!

[2019-06-19 13:28] #55 closed

[2019-06-20 02:45] fraschetti commented on #4
Hi @arthurlutz

It only took me 2 years to get around to this issue but as of last night and Octoslack 1.8.1, you finally have your Riot (Matrix) support.

[2019-06-20 02:45] #4 closed

[2019-06-20 02:46] fraschetti commented on #38
Hi @andre726

As of 1.8.0, Octoslack now has support for Rocket.Chat. Please let me know if you encounter any issues.

[2019-06-20 02:46] #38 closed

[2019-06-21 03:15] fraschetti commented on #48
Hi @tedder

I've started work on this request. Some of the properties you mentioned aren't in the stock analysis logic so I'm assuming you're using OctoPrint-PrintTimeGenius. It'll only take a few extra lines of code to handle both scenarios.
Stay tuned.

[2019-06-21 06:44] fraschetti commented on #48
Good news and bad news.

Good news - implementing the new event type and adding extra support for PrintTimeGenius wasn't much extra work.

Bad news - When PrintTimeGenius is in play, the MetadataAnalysisFinished event can fire multiple times with a variety of variable combinations. I've only ever seen this happen with larger files/longer prints but I've seen the event fire twice, one of the two mi

[2019-06-21 08:27] arthurlutz commented on #4
@fraschetti thanks a lot ! The list of channels looks awesome! Time to rename the plugin ? ;-)

[2019-06-24 16:29] Mortikhan opened #56 "[Feature Request] Limit commands to UserID"
OctoSlack is awesome. Just wish I could limit the use of the commands by other users.
I have a slack group set up for 3d-printing geeks, and being able to see what everyone has printed is awesome, but I'd like to be able to limit the use of commands to my printers to just my userid instead of everyone in slack being able to stop my prints.

or being able to turn individual commands on or off would

[2019-06-27 06:15] fraschetti commented on #50
Hi @kazibole,

I gave this a try tonight and my quick tests show the in-place update logic working as expected.

My setup:
**Connection type** Slack API Token
**Snapshot hosting** Slack
**Progress update method** In-place

If you're still seeing an issue, take a look at your Octoprint log file (/home/pi/.octoprint/logs/octoprint.log on an OctoPi deployment), specifically looking for any ERROR entr

[2019-06-28 06:51] fraschetti commented on #52
A duplicate request - https://github.com/fraschetti/Octoslack/issues/56#issue-459986188

[2019-06-28 06:52] fraschetti commented on #56
Duplicate of https://github.com/fraschetti/Octoslack/issues/52

Check there for the update on this issue (surprise - the coding is already done).

[2019-06-28 06:52] #56 closed

[2019-06-28 06:57] fraschetti commented on #52
Hi @smitty97 @tedder @Mortikhan

I've finished development on this item and it'll be included in the next Octoslack release (TBD but not far off).

What I added:
-Individual commands can be enabled/disabled completely via the Octoslack config UI
-Individual commands can be marked as 'Restricted' which if combined with a list of authorized users (this can also be supplied via the Octoslack UI), wil

[2019-06-28 13:35] Mortikhan commented on #52
Excellent news. Can't wait for the new version to come out. Thanks a ton!

[2019-07-06 19:15] kazibole commented on #50
I updated to Octoslack 1.9.0 and ran some tests. The issue is still occurring for me. It appears to be related to the G-code Event that I have configured.

I have a G-code Event configured to trigger on the following serial line received by the printer:

`Recv: NORMAL MODE: Percent done: 94; print time remaining in mins: 4`

![image](https://user-images.githubusercontent.com/34734155/60760215-4717

[2019-07-10 07:32] fraschetti commented on #52
@smitty97 @tedder @Mortikhan

This functionality has been relased in Octoslack 1.9.0. Feel free to provide any feedback you might have.

[2019-07-10 07:32] #52 closed

[2019-07-10 07:34] fraschetti commented on #48
Hi @tedder

I've added what support I can for these events. I suspect I'd been to submit changes to PrintTimeGenius if we wanted to clean up some of the noise it produces.
Aside from that, Octoslack 1.9.0 should have these new events for you to play around with.

Good luck!

[2019-07-10 07:34] #48 closed

[2019-07-10 07:44] fraschetti commented on #45
Closing this issue due to inactivity,

[2019-07-10 07:44] #45 closed

[2019-07-10 15:20] Mortikhan commented on #52
Works very well. Thanks for the update and new functionality.

[2019-07-13 04:12] fraschetti commented on #50
Hi @kazibole

I took a look at this recently and found the issue. The original author of that logic (I rewrote some of it but not all) added a few lines that reset the message we're updating each time a non-Progress event is processed by Octoslack. For your situation, the G-code event is being triggerd and as a result was resetting that internal logic for tracking the Slack message to update.
Ther

[2019-07-13 04:31] kazibole commented on #50
Thanks @fraschetti! Don’t rush to release the fix just for me as I am working around the issue for now.

[2019-07-18 01:09] diyengineer opened #57 "requires python 3.6 error"
Hello,

I had version 1.9 working on a machine, and went to install it on another but it was giving me a new error that python 3.6 was not installed. Is this a bug, or am i doing something wrong? Thank you!

Installing plugin "Octoslack" from https://github.com/fraschetti/Octoslack/archive/master.zip...
/home/pi/oprint/bin/python2 -m pip --disable-pip-version-check install https://github.com/frasc

[2019-07-18 03:26] fraschetti commented on #57
Hi @diyengineer

I've just released Octoslack 1.9.1 to fix this issue.
Long story short, OctoPrint only operates on Python 2 but Slack's latest client library only supports Python 3. Octoslack will stay on the older stream of their client library to work around this issue.

Please let me know if this doesn't resolve your issue.

[2019-07-18 03:27] fraschetti commented on #50
This fix has been released with Octoslack 1.9.1

Feel free to let me know if this doesn't resolve your issue.

[2019-07-18 03:27] #50 closed

[2019-07-18 21:09] Billiam opened #58 "[Feature Request] Estimated print time for new print notification"
I'm not sure what the right approach to this is, but:

For new prints, my notifications rarely if ever display the estimated print time, unless I'm reprinting gcode which has been analyzed earlier.

For most prints, my octoslack notifications show "Estimated print time: N/A". If I enable notifications for metadata analysis complete, I get notifications for every uploaded file, even if they're not

[2019-07-22 12:19] thearduinoguy commented on #4
How do I get the access token from Riot please? The instructions presume you already have a bot set up.

[2019-07-24 02:55] timur-tabi opened #59 "Slack instructions are unclear"
The settings page for Octoslack says that I need to specify an API Token, and then it says I can get that via "Apps & integrations --> Manage --> Custom Integrations --> Bots".  I cannot find the "Apps & Integrations" menu item.  Can you please provide a detailed walkthrough for enabling Slack support?

[2019-07-24 03:21] timur-tabi commented on #59
I managed to create an API Token by visiting https://api.slack.com/custom-integrations/legacy-tokens (you should probably update the instructions).  However, even with the Token, I don't know how to communicate with OctoSlack from my Slack session.  It talks about "@botname", but I have no idea what that is supposed to be.

[2019-07-24 03:21] fraschetti commented on #57
This issue should be resolved. Closing this issue (feel free to reopen it if you still see a problem)

[2019-07-24 03:21] #57 closed

[2019-07-24 14:14] timur-tabi commented on #59
Ok, somehow I managed to get OctoSlack to post messages to a Slack channel stating when prints have started.  However, I can't figure out how to send messages to OctoSlack.  I'm primarily interested in getting occasional snapshots of my prints.

![Screen Shot 2019-07-24 at 9 12 48 AM](https://user-images.githubusercontent.com/1065860/61800830-5e2a4f00-adf3-11e9-9c34-72f33aa8e77a.png)

[2019-07-25 01:50] timur-tabi commented on #59
Is it possible for me to use OctoSlack to send instructions to the printer?  For example, if I see that my print has failed, can I use OctoSlack to tell the print to cancel the print?

[2019-07-26 04:40] fraschetti commented on #59
Hi @timur-tabi
You're correct that the Slack UI has changed slightly but ultimately you're still looking for the "Custom Integrations --> Bots" UI (see the screenshots below). I'll make a note to update the instructions if I can think of a better way to describe how to get to that UI.

![Slack_ManageApps](https://user-images.githubusercontent.com/5056913/61926229-97161100-af24-11e9-98cf-4f4f4bece9

[2019-07-26 04:43] fraschetti commented on #59
Hi @timur-tabi ,

You're correct that Slack has flagged the current Custom Integrations (Bots and WebHooks) to be deprecated at some point. For the moment they should still function just fine. As for how to create your app integratin, you want to create a new Bot. The screen to create a new bot (included below) will allow you to specify the botName you want to use. I always use "octoslack" which a

[2019-07-26 04:46] fraschetti commented on #59
Hi @timur-tabi ,

As per my previous comment, you can easily ask Octoslack for a status update whenever you like (e.g. **@octoslack status**) but most people simply configure the Progress event to send periodic updates (% intervals, print height intervals, or time intervals).

![Octoslack_Progress_Event](https://user-images.githubusercontent.com/5056913/61926506-aea1c980-af25-11e9-91c6-88393378f94

[2019-07-26 04:55] fraschetti commented on #59
Hi @timur-tabi

Once you have your bot setup correctly and observe a print issue, you will be able to use Slack to cancel the print - **@octoslack stop**
Unfortunately this is currently a manual process (observe a problem, issue the command to cancel the print); feel free to submit an enhancement request if you have an idea for how to integrate this flow automatically.

In addition to the events O

[2019-07-28 04:04] PrinterFarm3000 commented on #59
Hi Fraschetti,

Would it be possible to send a "print" command in Slack to Octoprint? (assuming the file was already loaded in octo, the printer would then begin the job. Or, if you could "load and print" a specific file from the printer... This would be extremely helpful)

Thank you

[2019-07-28 04:11] PrinterFarm3000 commented on #59
Also, with multiple printers, (say they are named "1,2,3,4,5,") is there a command in slack to address all of these printers at once? Instead of manually addressing them @1 status @2 status @3 status @4 status @5 status - Is there a @ALL status command that you know of? I have attempted with a couple commands already but it didn't work for me. Thanks!

[2019-07-28 04:52] fraschetti commented on #59
Hi @timur-tabi

There is another plugin (not for Slack) that has the concept of "list" and "print X" but those aren't capabilites I've thus far been asked to add to Octoslack. For the most part I developer what I need and then what the consumers of the plugin request.
I'd suggest opening a new issue specfic to the request of being able to start a print from Slack.

-Chris

[2019-07-28 05:02] fraschetti commented on #59
Hi @PrinterFarm3000

The way the Slack API integration works is that the plugin actually receivees **all** messages sent to the channel. It uses the Slack bot's username (e.g. **@1**) to determine if the message was intended for the bot. It's concievable (and not a lot of effort) to allow for another special keyword (shared across all your printers/Octoslack instances) to would serve the same purp

[2019-07-28 05:57] PrinterFarm3000 commented on #59
Thanks Chris, I'll write a request- I think a lot of people would find these features useful!

[2019-07-28 06:12] PrinterFarm3000 opened #60 "[Feature Request] Start a print from Slack"
Hi Chris,

I think a lot of users would benefit from the functionality of being able to run prints from their Slack interface. Would it be possible to add "load and print X" or simply "Print" via "@PrinterName" command from a channel?

Thank you!

[2019-07-28 21:50] GaryBoone opened #61 "Doesn't respond to commands"
I've set up OctoSlack successfully enough to see the 'successfully connected to printer' messages and print updates from the printer. A print run sends progress photos every 15 minutes as I configured it to. However, I can't send commands such as help or status and receive a reply.

In the OctoSlack settings, I have checked "Listen for commands" and checked all of the commands. I have not checked

[2019-08-01 07:53] fraschetti commented on #61
Hi @GaryBoone

Please see the steps below to enable the Octoslack logging for the octoprint.log file. Once enabled, we should have a bit more information. The log file will write out the bot name (just to confirm), the bot's internal ID (which is what shows up in the messages it receives) as well as any related errors.
It's also worth pointing out that the Slack API connection uses WebSockets; if

[2019-08-17 14:06] thearduinoguy opened #62 "Nothing received in Riot.im"
Set everything up according to the instructions and yet I am not getting any messages in Riot.im

Please help.

[2019-08-17 17:00] fraschetti commented on #62
Hi @thearduinoguy

First steps would be to provide the octoprintlog file. Steps below.

1. Enable DEBUG logging
2. Reproduce the issue
3. Send Octoprint.log

Instructions to enable DEBUG logging for Octoslack

* Enable DEBUG logging
Ensure the following has been added to /home/pi/.octoprint/logging.yaml  (or appropriate path for your OctoPrint installation)
[code]

* Restart OctoPrint
[code]

For

[2019-08-17 17:01] fraschetti commented on #61
Hi @GaryBoone

Please let me know if you still need help with your issue.

[2019-08-18 20:21] GaryBoone commented on #61
I see a series of messages like:

2019-08-18 13:10:41,291 - octoprint.plugins.Octoslack - DEBUG - Slack RTM API Key auth test response: {"user_id": "UUUU", "url": "https://xxxx.slack.com/", "team_id": "TTTT", "user": "uuuu", "team": "tttt", "ok": true}
2019-08-18 13:10:41,292 - octoprint.plugins.Octoslack - DEBUG - Slack RTM Bot user id: UUUU
2019-08-18 13:10:41,874 - octoprint.plugins.Octoslack -

[2019-08-19 06:52] fraschetti commented on #61
Hi @GaryBoone

Can you share the output of the following commands:

pip show websocket_client
pip show slackclient

I can't explain it just yet but your client is obviously able to make the HTTP/S calls to Slack but is then failing somewhere within the Slack client's logic to establish a WebSocket connection. A WebSocket starts over the same HTTP/S protocol that your low obviously shows but is the

[2019-08-19 13:30] Auroch opened #63 "Matrix/Riot : Emoji code and Markdown formatting are not interpreted ?"
Hello, I have just configured the plugin and I notice that the emoji codes already proposed in the messages (or others) are not interpreted in the chat rooms.

I have already noticed that in the Riot client, you have to choose the emoji from a list while typing your text, if you leave the code :dog:, it is not interpreted, so it may be a problem of the same order, or even a design difficulty in Ma

[2019-08-20 13:47] GaryBoone commented on #61
[code]

The network is a vanilla Ubiquity setup. So there could be a firewall default.

[2019-09-02 07:19] oblivian opened #64 "WebDAV image upload"
Hey,

Thanks for a super great plugin. Would you concider adding support for WebDAV posting/upload of images? Hence a general agnostic image upload function. Most if not all cloud services support WebDAV, and would make it easier to integrate, be it OneDrive, Dropbox, Nextcloud or any other self-hosted web server, etc.

Thanks.

[2019-09-19 14:06] calonmerc commented on #64
Duplicate of #37

[2019-10-13 06:25] rgordon opened #65 "configuration question re multiple printers"
I just discovered this plug-in, and have it already configured to send messages to a test channel.
i'm using webhook (attached to a Slack app instead of the old way, but same result.)
i'm looking at hooking up several different printers, each on their own OctoPi server.
And that leads to my questions.
Q1:i was trying to change some of the notification messages, but am not seeing the changes posted

[2019-10-13 07:26] fraschetti commented on #65
Hi @rgordon
I've supplied a few answers below. Good luck!

Are you changing the Message or the Fallback? The Fallback text is typically used for notification systems (iPhone/Android lock screens, Windows 10 notification system, etc.) where it wouldn't make sense to try render the full message text. As far as making updates is concerned, your updates should be recognized immediately; for the settin

[2019-10-25 22:57] JFSolution opened #66 "[Feature Request] Print User who started the print"
show the user who startet the print in the slack message
and maybe send the messages only to the user who startet the print

[2019-10-25 23:00] JFSolution commented on #45
I reinstalled the Raspberry, now it is working without any issues.

[2019-10-28 01:29] rgordon commented on #65
thanks. I see the messages showing correctly now. I'm wishing that there was a "printer-name" macro to go along with all of the others - I ended up adding each one manually.
but - while doing so on the first printer, I've been trying to get the notifications to sent to some other channel than the default for the webhook. so far, I set the one at the top - its had no effect. And I set for the chann

[2019-10-28 06:33] fraschetti commented on #65
Hi @rgordon

Can you describe your "printer-name macro" a bit further?
Are you looking for the Slack messages to include a unique label per printer (if so, where were you hoping it would be displayed?) or are you using the Slack API (Slack bot) and would like to use different @bot1 @bot2 @bot3, etc. per printer to run commands?

[2019-10-29 23:00] caronc opened #67 "Apprise Integration"
Hi,

Just curious what's involved in adding [Apprise](https://github.com/caronc/apprise) as notification support?  You just need to get a string of Apprise URLs from the end user (separated by space and/or comma) for input.

Your back-end logic would look something like this:
[code]

This opens you up to [50+ services](https://github.com/caronc/apprise/wiki#notification-services) :slightly_smiling

[2019-11-04 04:15] rgordon commented on #65
for the printer-name: either something settable or perhaps derived from the hostname.
what I'm trying to do is support multiple printers - one Octoprint server per printer.
What i'm trying to determine as well is the best way - whether I can have a single Slack App, with 1 or multiple WebHooks - so that in the end each printer can send traffic to its own #channel. I thought I could do each printer

[2019-11-04 14:44] shinister opened #68 "[Feature Request] Microsoft Teams Integration"
migrating from slack to microsoft teams, would be very nice to have Octoslack post status updates (with imgur snapshots) to my group's 3D printing channel on teams via the avaiable incoming webhook connector.

[2019-11-04 14:48] shinister commented on #68
...trying to avoid needing a third party slack/teams channel integration, Octoslack is the main use case we have that would require it.

[2019-11-05 14:26] dgsmithmn opened #69 "Printer reports print progress as N/A at Print Progress Interval when no print is active"
My printer is reporting ":heavy_minus_sign: Print progress N/A :horse_racing:" every 30 minutes (what I have the Interval - Time (minutes) set to in Print Progress). I do not have Printer status heartbeat notifications enabled.

[2019-11-05 22:47] rafalmag opened #70 "Error during "pillow" dependency installation"
I tried to install the plugin and got following error during "pillow" installation:

[code]

The system:
OrangePi PC Plus board with Armbian Linux 4.19.62-sunxi (based on Debian Stretch)
OctoPrint 1.3.12

[2019-11-05 22:51] tedder commented on #70
[code]
Install `zlib1g`, if it still fails install `zlib1g-dev`.

[2019-11-05 23:05] rafalmag commented on #70
Thanks @tedder! I did not realize that I need the additional non-python packages. Thanks to your comment I fixed it by installing all missing packages:
[code]
Reference https://pillow.readthedocs.io/en/latest/installation.html and https://stackoverflow.com/questions/34631806/fail-during-installation-of-pillow-python-module-in-linux .
Issue can be closed.

[2019-11-05 23:05] #70 closed

[2019-11-08 03:09] rgordon commented on #65
Testing this out again tonight,  I have not been able to get it to send to anything other than the default channel for the webhook account. I've set the channel-override value at the top of the settings, both with and without leading '#'. I also tried setting it at the individual commands level. no dice. about to give up and just create a separate webhook for each printer. unless someone has bette

[2019-11-08 04:08] fraschetti commented on #69
Hi @dgsmithmn

Please see the steps below to enable the Octoslack logging for the octoprint.log file. Once enabled, we should have a bit more information. Octoslack only responds to OctoPrint events so we'll see which events your instance is responding to.

Enable DEBUG logging
Reproduce the issue
Send Octoprint.log
Instructions to enable DEBUG logging for Octoslack

Enable DEBUG logging
Ensure th

[2019-11-08 04:33] fraschetti commented on #65
Hi @rgordon

You might try enabling logging in hopes the response from Slack will contain the answer.

1. Enable DEBUG logging
2. Reproduce the issue
3. Send Octoprint.log

Instructions to enable DEBUG logging for Octoslack

* Enable DEBUG logging
Ensure the following has been added to /home/pi/.octoprint/logging.yaml  (or appropriate path for your OctoPrint installation)
[code]

* Restart OctoPri

[2019-11-08 18:31] rgordon commented on #65
thanks, i'll try to take a look at it more this weekend. it could well be on the Slack side of course. i was poking around in there last night looking for some clues as well.

[2019-11-10 23:11] rgordon commented on #65
Enabled the log and took a look - it *seems* to be grabbing the correct channel out of the settings, and posting to Slack with it w/o error. so - I'm guessing its something on the Slack side.
There, I've created a full-fledged "app" per their current guidance, and enabled a webhook url on that.

2019-11-10 22:55:39,499 - octoprint.plugins.Octoslack - DEBUG - Event: Connected, NotificationEnabled:

[2019-11-13 16:56] dgsmithmn commented on #69
Here's a portion of what the log is reporting:

2019-11-13 06:28:23,164 - octoprint.server.heartbeat - INFO - Server heartbeat <3
2019-11-13 06:28:45,228 - octoprint.plugins.tracking - INFO - Sent tracking event ping, payload: {'octoprint_uptime': 1771222}
2019-11-13 06:43:23,167 - octoprint.server.heartbeat - INFO - Server heartbeat <3
2019-11-13 06:43:45,248 - octoprint.plugins.tracking - INFO -

[2019-11-13 16:58] dgsmithmn commented on #69
Here are my Print Progress settings
![image](https://user-images.githubusercontent.com/57403793/68785813-542b9680-0604-11ea-95ca-33a6681d2709.png)
![image](https://user-images.githubusercontent.com/57403793/68785843-60175880-0604-11ea-8a17-b52adf030bf9.png)
![image](https://user-images.githubusercontent.com/57403793/68785861-686f9380-0604-11ea-87ff-86fdb6f46ad5.png)
![image](https://user-images.gi

[2019-11-27 16:02] lcalaresu commented on #62
Hello there,

I had the same problem with an old version of Matrix (**1.3.1**) that was released on 17th October (same date as this issue). However, everything works fine with the latest version of Matrix (**1.6.0**) released yesterday... I believe this issue can be closed.

I encourage those having the same issue to **upgrade their Matrix server** (if possible).

Here is the error with the old ve

[2019-12-04 05:20] kazibole opened #71 "OctoPrint 1.4.0rc2 - Slack messages with snapshot do not send"
Deployed a new image of OctoPi 0.17.0. Restored my OctoPrint 1.3.12 backup file. Upgraded to OctoPrint 1.4.0rc2.

All of my Octoslack settings imported successfully, however any Slack messages with a snapshot fail to send. The octoprint.log shows the following error:

[code]

I have also tried with the Imgur snapshot hosting, same error. If I set the snapshot hosting to none, all Slack messages se

[2019-12-04 18:10] ChrisHeerschap commented on #71
Seeing the same issue with imgur upload. disabling snapshot share fixes the issue.

[2019-12-09 20:12] JohnOCFII opened #72 "Request Discord Webhook integration"
Hi Chris,

Our 3D Printing Community on Mattermost is moving to Discord.  I was wondering if you'd be able to integrate a web hook to send OctoSlack output to Discord?  It seems like similar web hook support exists in Discord: https://support.discordapp.com/hc/en-us/articles/228383668-Intro-to-Webhooks

Here is the new Discord: https://discord.gg/QGVbBT

Thanks,

John

[2019-12-12 09:36] lhalve opened #73 "Ignoring multiple messages in recieved G-Code"
When interfacing with a Prusa MK3S, the printer sends multiple messages when filament runs out. Is it possible to implement a feature that either ignores the same message sent multiple times or add a cooldown option for custom G-Code responses?

[2019-12-13 08:37] fraschetti commented on #72
Hi John,

I have been slacking on adding discord support; looks like it's finally time.
Do you mind sending me an e-mal (fraschetti.dev@gmail.com) with a new invite? I'll try to catch it before it expires this time.

Thanks!

[2019-12-13 08:38] fraschetti commented on #73
Seems reasonable. I'll add it to the list and will likely look into trackling this the next time I start working on the plugin (should be soon-ish).

[2019-12-13 12:57] lhalve commented on #73
Great, thanks >(

[2019-12-17 07:48] fraschetti commented on #71
Hi @kazibole @ChrisHeerschap

Finally freed up a bit to look into this. I've already submitted a fix - stay tuned and I'll get a release out soon.

[2019-12-19 04:15] fraschetti commented on #73
Code changes submitted. Should come out with the next release.

[2019-12-19 04:17] fraschetti commented on #69
Hi @dgsmithmn

I've been unable to reproduce this thus far. If you're still experiencing a problem, can you follow my steps above to enable DEBUG logging for this plugin and then report back with a more detailed log dump?

Thanks!

[2019-12-19 04:17] fraschetti commented on #72
Work in progress...

[2019-12-22 14:25] kazibole commented on #71
Working in 1.9.5!

[2019-12-22 14:25] #71 closed

[2019-12-22 20:25] fraschetti commented on #72
Supported added in 1.9.5 - let me know if you encounter any issues.

[2019-12-22 20:25] #72 closed

[2019-12-22 20:28] fraschetti commented on #65
Hi @rgordon

FYI that in 1.9.5, when using the Slack API Token (bot/web socket connection) opting to not use the default slack identity and providing an alternate username will allow allow for printer/OctoPrint instance specific commands.

e.g. share one API Token but addres each printer individually:
@printer1 status
@printer2 status

but I also left the listener in for the original bot username.

[2019-12-22 20:28] fraschetti commented on #65
Please let me know if you have any outstanding asks or issues (we might want to create unique git issues per item).

Thanks!

[2019-12-22 20:30] fraschetti commented on #62
Closing this issue per as it has been idle for quite a while.
1.9.5 also fixed a potential issue with Matrix/Riot.im (a typo on the server URL) that I must have introduced at some point.

[2019-12-22 20:30] #62 closed

[2019-12-23 08:01] rgordon commented on #65
you know, i haven't had much time to work on this thing lately but will try to in the next couple of weeks. I hadn't planned on implementing a bot interface, using the API token, but may need to reconsider that.

one more question - is it possible to extend the events the plugin responds to easily? one of the use cases is for that darned Prusa MMU2 which demands attention way too often.
it sends o

[2019-12-23 14:08] irStoopid opened #74 "[Feature request] Custom script / event support"
It's great having a notification interface on octoprint using slack, but I've been tinkering with the idea of expanding the notification support by triggering custom scripts (eg. python or bash) on a set interval and sending a notification **_Conditionally_** based on the script output.

For example; I'm running octoprint on a spare netbook. Should it get disconnected from mains power and drain th

[2019-12-29 03:20] fraschetti commented on #74
Hi @irStoopid

80% of the work required here is determine the best way to get your event to the plugin. Luckily OctoPrint already has a mechanism to support the bulk of this functionality.
http://docs.octoprint.org/en/master/plugins/mixins.html#simpleapiplugin

The above SimpleApiPlugin would allow you to post name/value pairs (in JSON) and generate notifications accordingly. Where things get a bi

[2019-12-29 21:30] irStoopid commented on #74
Hi @fraschetti

Thanks for the quick response on this.
Your proposal seems quite different from what I initially had in mind, but should be at least as suitable for getting an additional notification interface.

I like the idea of having a more generic API which does not require actively calling scripts of one sort or another as this would definately be more secure and less likely to negatively af

[2019-12-30 17:09] lhalve commented on #73
Hi, I tried the new feature with the Prusa Mk3s, but still get many notifications. I set the minimum notification interval for a custom recieved GCode event "echo:busy: paused for user" to 60 (minutes). When getting the printer to write these messages, i.e. cutting the filament and waiting for the filament sensor to notice, I still get multiple messages in a matter of a few seconds.

[2020-02-01 20:28] timur-tabi opened #75 "Error: local variable 'p' referenced before assignment"
I have two cameras attached to my RPi 3B+, a Logitech C270 and a C930e.  I enable the second camera via the instructions here: https://www.makersmashup.com/post/outside-the-box-multiple-webcam-setup-with-octoprint

When I enable the second camera, my print stutters and Octoprint crashes.  The log shows this error:

2020-02-01 13:58:43,381 - octoprint.plugins.Octoslack - ERROR - Error reading Raspb

[2020-02-01 22:57] fraschetti commented on #75
Hi @timur-tabi

Thanks for reporting this issue.
Can you try disabling the Rasberry Pi temperature (uncheck 'Include RasPi temp' in the Octoslack settings) to see if the issue persists?

Thanks!

[2020-02-02 04:48] timur-tabi commented on #75
Disable the temperature sensor fixes the Python errors in the log, but Octoprint still crashes.

Changing the extra camera URL to logo.png fixes the Octoprint crashes.

When the crash occurs, my RPi runs out of memory (I can't even run 'ls' from the command line) until the oom-killer kicks in and kills processes.  I can then restart Octoprint.  I have a hard time believing that the image is just "

[2020-02-02 05:21] timur-tabi commented on #75
BTW, disabling Octoslack altogether eliminates the out-of-memory errors from the Enclosure plugin.

[2020-03-14 20:11] timur-tabi commented on #75
Since it looks like this issue isn't going to be fixed anytime soon, can you at least give me the ability to specify a different primary webcam, via a URL?  That way, octoslack shows only my second camera.

[2020-03-26 17:00] tedder opened #76 "coercing to Unicode error"
I'm going to look and patch this, but I want to get the issue here so I can get it out of my paste buffer.
[code]

[2020-03-26 17:11] tedder commented on #76
debugging shows these values:
[code]

[2020-03-30 18:29] calonmerc opened #77 "Not uploading timelapses to Slack"
For a while now, all of my Octoprint images have been unable to upload timelapses to Slack. The timelapse rendering completes, I get a notification about it, but there's no URL for it. I've double checked my settings and it is supposed to include the URL.

The big problem is that the local timelapses get removed.

[2020-03-31 19:58] davejhilton commented on #73
Same issue here. I'm running Octoslack 1.9.5, and it doesn't seem to be respecting the "minimum notification interval".

I created the same rule as @lhalve (on receive: `echo:busy: paused for user`), and set the minimum notification interval to 30 minutes, but then I got spammed with dozens of messages, each just a few seconds apart, when my Prusa mk3s sends that signal multiple times.

I would lo

[2020-04-04 03:18] fraschetti commented on #77
Hi @calonmerc

Do you mind providing some rough details about your environment?
-What device/OS are you running?
-How are you connecting to Slack (Webhook or API token)?
-Do you mind following the steps below to generate a debug log for analysis?

1. Enable DEBUG logging
2. Reproduce the issue
3. Send Octoprint.log

Instructions to enable DEBUG logging for Octoslack

* Enable DEBUG logging
Ensure

[2020-04-04 03:21] fraschetti commented on #76
Hi @tedder

Let me know if you have a patch on the way, otherwise I'll try to tackle this while I'm working on a few other changes.

Thanks!

[2020-04-04 03:26] fraschetti opened #78 "Allow snapshot images to ignore the primary Octoslack camera"
Allow snapshot messages to only include images from the manually provided camera URLs and not the default camera configured in Octoslack

[2020-04-04 03:27] fraschetti commented on #75
Hi @timur-tabi

I've not been able to track down any memory leakes nor have any been reported. Unfortunately Python's internal libraries to call out to the OS to do certain operations (e.g. query the Pi's temperature) require essentially duplicating the entire process's memory temporarily while the command is executing. That's one potential cause (the more memory the core process is using up, the

[2020-04-04 03:38] fraschetti commented on #73
Hi @lhalve and @davejhilton

Do you mind providing a bit of info to help me debug this issue for you?
1. The configuration for the specific event you're having an issue with (what criteria, what notification interval settings, etc.)?
2. Can you generate a log file from Octoprint start to the end of the print (or at far as you're willing to endure giving the message spamming) so I can have somethin

[2020-04-04 03:42] timur-tabi commented on #75
I have a theory that this might be occurring you provide a streaming url instead of a snapshot url.  I need to run some tests to confirm.

[2020-04-04 04:36] tedder commented on #76
Thanks for the nudge. I put it up.

[2020-04-04 07:39] #76 closed

[2020-04-04 13:38] timur-tabi commented on #78
What I would prefer is to simply be able to specify and number of camera URLs as 1, 2, 3, etc.  By default, Octoslack would configure the first camera as normal, but that configuration would be editable.  And then add an enable/disable checkbox next to each entry.

[2020-04-08 15:25] calonmerc commented on #77
-What device/OS are you running?
--Variety of Pi 3B and 3B+, all running Raspbian from the OctoPi image.
-How are you connecting to Slack (Webhook or API token)?
--Using the API token on all of them. (The same token, if it matters)
-Do you mind following the steps below to generate a debug log for analysis?
-- I will do these after this print finishes.

[2020-04-09 17:54] calonmerc commented on #77
[octoprint.log](https://github.com/fraschetti/Octoslack/files/4457831/octoprint.log)

[2020-04-09 19:21] chrisfraschetti commented on #77
Thanks @calonmerc

It would appear we have ourselves a typo specific to using Slack as the image/video hosting provider. I'm working on a few other changes and I'll fix/test/commit this as time permits.

Question - was this working before (hosting everything via Slack directory) or did you recently switch from something like S3 to Slack?

Thanks again for the debug log.

[2020-04-09 19:30] calonmerc commented on #77
Probably a year and a half ago I was using imgur or something, but I've been using Slack, with the timelapse uploads, for consistently over a year. I stopped printing much in November, started again at the end of February. That's when I noticed the timelapses weren't showing anymore.

[2020-04-10 14:44] jon-daemon opened #80 "delayed notifications on pushover"
I use octoprint 1.4 on orange pi zero and I experience delayed notifications.
See [this](https://pastebin.com/UWUxPHp5) log file
I received the print started notification at 14:17 and finished notification at 14:58
In the log you can see it was started and finished a few minuted earlier. What could be the issue. What should I investigate?

[2020-04-15 03:30] fraschetti commented on #77
Hi @calonmerc

I likely broke the Slack asset upload as part of _recent_ release. There were a number of scenarios where the code might try to use an old upload method if the user was swapping around configurations. The logic to ensure the setup was correct for Slack uploads had a typo.
I've submitted a fix which will be included in my next release.

[2020-04-15 03:33] calonmerc commented on #77
Awesome! Any ETA on the release? Or any help running dev code? (I don't see a development branch to pull)

[2020-04-16 07:39] fraschetti commented on #68
Hi @shinister

FYI - I've just pushed changes to support Microsoft Teams. This will come along with next Octoslack release.

[2020-04-16 13:34] N-Schaef opened #81 "[Feature request] Octolapse support"
Hello,

I've noticed that octolapse timelapses are not triggering a notification and/or upload of the timelapse.

After further investigation I saw that octolapse decided against using the native `MovieDone` trigger.
Instead they use a plugin-specific `PLUGIN_OCTOLAPSE_MOVIE_DONE` trigger.
Appart from that the payload seems to be the same.
At least it contains the required `movie` attribute with t

[2020-04-18 02:26] fraschetti commented on #81
Hi @N-Schaef

Sound like a good change. One suggestion - you might want to add your logic to on_event or handle_event and instead of adding an or clause, simply look for PLUGIN_OCTOLAPSE_MOVIE_DONE and update event to the expected MovieDone. This will save myself and others a bit of headache down the road as we won't have to deal with a special case. I suppose what matters most is whether or not O

[2020-04-18 02:31] fraschetti commented on #80
Hi @jon-daemon

There's not much within Octoslack that could add a delay other than if OctoPrint itself is behind on emitting events internally or if Pushover is somehow lagging. I'd suggest enabling the Octoslack debug below to see if it can tell us anything. The timestamps in the log will give us an indication of how long it took the plugin to send the Pushover event and get a reponse from when

[2020-04-18 02:53] fraschetti commented on #78
Hi @timur-tabi

The use case being you'd want to use different cameras for different events?

[2020-04-18 02:55] fraschetti commented on #75
Hi @timur-tabi

1. Any chance you had time to validate the streaming URL theory?
2. Are you doing any transformations of additional cameras (rotate, flip, etc.)? I did find one potential leak when transformations are in play.

[2020-04-18 02:58] fraschetti commented on #69
Hi @dgsmithmn

Let me know if you are still experiencing the issue and if you can provide a debug log for me to take a look at.

[2020-04-18 03:01] fraschetti commented on #66
@JFSolution

Which user are you interested to expose?

1. The Slack user who started a print via a command issued from Slack
2. The OctoPrint user who started the print via the OctoPrint UI

[2020-04-18 03:03] fraschetti commented on #66
As for sending messages only to the user who started the print. For Slack, it's easiest to use a dedicated channel. I've gone down the DM path for Slack before and it unfortunately ended in failure. The plugin can do this in other chat platforms but Slack itself has some limitations that I previously hit.

[2020-04-18 23:45] timur-tabi commented on #78
Different cameras for different events would be neat, but I don't need that feature.  I'm just asking for the ability to specify the primary camera by URL.  I have two cameras attached to my Pi, but the Octoslack config page does not give me an option to specify a camera.  And for some reason, Octoslack is now using my second camera.  It used to use my first camera, but somehow it magically switch

[2020-04-19 01:29] timur-tabi commented on #75
I wasn't using transformations, but I can't get the second URL to work at all now.  It just won't show up when I send a "status" command.

[2020-04-20 08:39] nebbles commented on #66
I've never used option 1 above, but I assume that when initiated from Slack, it will be linked via a specific account in Octoprint.

I would recommend using the Ocotoprint user as described in the UI. It's relatively trivial (as we have done in current start-up) of giving people each their own Octoprint account. That way we could clearly see who's print is currently running (whether in the Octopri

[2020-04-20 17:25] N-Schaef commented on #81
@fraschetti good idea.

I implemented it (#82) and tested the change with Octolapse v0.4.0rc1.
I think the current stable version does not yet have the event.

[2020-04-20 20:50] JFSolution commented on #66
The octoprint user which started the print.
I made a fork and added the feature.
https://github.com/JFSolution/Octoslack
To post only to the user who started the print. There should be a way to associate the slack- with the octoprint-user.

[2020-04-21 03:30] fraschetti commented on #81
Thanks @N-Schaef

I've merged the change.

[2020-04-21 03:30] #81 closed

[2020-04-21 03:34] fraschetti commented on #77
Hi @calonmerc
Shouldn't be long before I push a new release - likely within the next week or so.
As far as the dev branch is concerned, this project has been fairly simple thus far and I haven't needed to break out a dev branch from the main branch.  If you want to test the change, you can simply pull the main branch and go from there. If you haven't seen this page before, the steps to register a

[2020-04-22 18:03] jon-daemon commented on #80
Here is a log from [today](https://pastebin.com/qQHfw0g5)
You can see for example that I started a new job at 17:05.
At 17:06 I got the cancel notification from the previous job.
The started notification for the new job arrived at 17:09
I have pause command (M0) in my gcode so I can clean the nozzle and prepare the bed. You can see it paused at 17:06:59 and I resumed at 17:07:05. Could this cause

[2020-04-24 07:12] fraschetti commented on #80
Hi @jon-daemon

The 17:02 - 17:06 window was rather busy with the cancel+start events overlapping but there is some suspicious log data there.
Instead I focused on the end of the print job at 17:33 where only one printer event is in play.

Here are the relevant log messages with annotations:

At 17:33:23 OctoPrint fires the PrintDone event which kicks off the Octoslack logic

At 17:33:24 we can se

[2020-04-24 10:07] mika1337 commented on #61
Hi,

I am having the same issue and was wondering if this was a scope related issue. I enabled `app_mentions:read` and `commands` without success, can you confirm which scope is required for this feature ?

Also is there a document which gives the required/recommended slack scopes for this plugin to work properly ?

[2020-04-24 10:11] Matt2k34 opened #83 "Event - build plate temperature"
Hey
Set this up yesterday and loving it so far.

I'm not sure if this is supported and I'm missing something, or isn't supported.

Can you add events for hotend / hotbed cooling? It's great that it prompts on complete, I just have to give it 10-15 mins for the glass bed to cool so the print pops off, would be good to either add a followup notification on a timer. Or better if it can pull the hotbe

[2020-04-24 14:33] mika1337 commented on #61
After further investigation my issue seems related to RTM:
[code]

I guess that OctoSlack relies on RTM to answer commands, and from the Slack API documentation it seems that RTM is being deprecated.
I'll give it a try creating a "Classic Slack App" which supports RTM.

If anyone can confirm that RTM is needed for handling commands ?

[2020-04-24 16:40] shinister commented on #68
much appreciated, @fraschetti !

will keep my eye out for the next release.

[2020-04-25 15:56] fraschetti commented on #61
Hi @GaryBoone and @mika1337
When you created your Slack app, do you recall if it was a new or classic app? Easiest way to know is to check if your app is rqeuired to be configured with "Scopes" (e.g. chat:write) or not. New apps require individual Scopes (permissions) to be applied whereas the classic ones do not.

The _current_ version of Octoslack utilizes RTM to listen to the channel messages a

[2020-04-25 15:58] fraschetti commented on #75
Hi @timur-tabi

If there's an error fetching the second camera's image, it'll show up in the octoprint.log but if not, feel free to send along a debug log file for me to examine.

1. Enable DEBUG logging
2. Reproduce the issue
3. Send Octoprint.log

Instructions to enable DEBUG logging for Octoslack

* Enable DEBUG logging
Ensure the following has been added to /home/pi/.octoprint/logging.yaml  (o

[2020-04-25 16:02] mika1337 commented on #61
@fraschetti the first token I used (which didn’t work) was a new app. I had messages and images sent from OctoSlack working, but commands didn’t work (as excepted since RTM is not available for new apps)
I’ll be waiting for the next release, btw thanks for your great work.

[2020-04-25 21:31] jon-daemon commented on #80
I found the problem. It was indeed a network issue. I couldn't even ping from the terminal. I found that armbian was configured to use ipv6. I switched to ipv4 in armbian configuration and it works fine. I don't know why it was working fine in the past. Maybe it has to do with my ISP which was acquired by another company and made some changes.

[2020-04-25 21:31] #80 closed

[2020-04-27 17:56] timur-tabi commented on #75
So I'm pretty sure now the problem is when specifying a streaming URL when it should be a snapshot URL.  Octoslack doesn't crash until about 10-20 minutes into a print, so I'm not really keen on debugging this at the moment.  I think it should be pretty easy for you to reproduce.  Can you try it?

[2020-04-30 17:28] Llama-Trauma opened #84 "Octoslack Not Listening"
After configuring the App, Slack is successfully sending automated print messages; however, none of the commands sent back through slack are triggering a response.

I have "Listen for commands" and "Use Slack identity" checked. 'Help' and 'Status' do not respond.
![Slack Capture](https://user-images.githubusercontent.com/32855921/80740176-89ea0c00-8acc-11ea-94e2-bf47d5ffe551.PNG)

My Slack names a

[2020-05-02 06:43] Humsie commented on #84
i struggled with the same problem last week, and also found a lot of RTM login failures in the log file.
Turns out octoslack uses the "old" rtm api which requires a "classic" slack bot.

i created a classic bot using the link from: https://api.slack.com/rtm#classic
and used the "Bot User OAuth Access Token" in octoslack and status command worked. (and the failures stopped in the log file :))

[2020-05-02 07:14] fraschetti commented on #84
Hi @Llama-Trauma and @Humsie

@Humsie is indeed correct - Octoslack currently leverages the older/classic bot support within Slack which supports RTM (websockets). Unfortunately the new Slack bots/apps are a bit different (for good reason) but unfortunately RTM is no longer supported for new bots.
For now, I'd rely on the workaround @Humsie listed above but I am currently working on adding proper

[2020-05-04 15:56] JFSolution opened #85 "[feature request] thunbnail from gcode"
Include thumbnail from gcode in print started message

Here is how to include a thumbnail in gcode:
https://plugins.octoprint.org/plugins/prusaslicerthumbnails/

[2020-05-05 20:01] brad-colbert opened #86 "Appears that I'm no longer able to get token for Slack"
Hello,

I think I followed the instructions correctly for a Slack integration but there is now this message on Slack:

"We recommend replacing your custom integrations with Slack apps, which have more features and use the latest APIs."

There appears to be no other option.
![Screen Shot 2020-05-05 at 12 59 55 PM](https://user-images.githubusercontent.com/45603525/81110445-665e0180-8ed0-11ea-88ed-8

[2020-05-05 20:30] brad-colbert commented on #86
Per the instructions:

"Apps & integrations --> Manage --> Custom Integrations --> Bots"

This no longer is an option.

[2020-05-05 22:22] tedder commented on #86
Brad, try this:
* create an app: https://api.slack.com/apps?new_app=1
* under "add features", click "bots"
* "review scopes"
* under "bot token scopes", add "incoming-webhook", "channels:join", "chat:write" and "chat:write.public". (probably need more if you are going to reply to it, I think this should be good for notifications)
* now scroll to the top, "install app to workspace"

This is just a

[2020-05-06 03:50] brad-colbert commented on #86
Ted,

That worked!  Thank you!

[2020-05-06 04:13] tedder commented on #86
brad or @fraschetti can you reopen this so we update the documentation or figure out an easier way to do this?

[2020-05-06 05:17] fraschetti commented on #86
Hi @tedder
I'll reopen it so you and others can easily find this conversations and comment as necessary.

Good news - I've already finished the development of support for the new supported methods for listening for slack commands (for this plugin, that will be polling Slack's endpoint). I'm integrating those changes right now. Stay tuned.

[2020-05-06 06:46] N-Schaef opened #87 "Mattermost not working anymore"
Since a recent update in the Mattermost server, notifications do not work anymore.
I don't know which version exactly broke this, but we updated from 5.19 -> 5.22.

I also think I found the issue.
Since recently the parsing of the incoming webhook slightly changed.
Mattermost will now throw an `api.webhook.incoming.error` when the "Content-Type" header can't be parsed. [Mattermost Code](https://gi

[2020-05-06 14:00] brad-colbert commented on #86
Ok, sorry.

[2020-05-06 17:48] brad-colbert commented on #86
Sorry, I got your message later in the morning.  Can't wait for the updates!  Thank you for the hard work!

[2020-05-06 17:54] brad-colbert commented on #77
May I "pile on" this thread?

I'm not seeing either snapshots or timelapses posted to Slack.  I'm assuming that Octoslack is able to post both directly?  If not I apologize for not understanding.

Cheers!

[2020-05-07 17:54] tedder opened #88 "ERROR - Slack API message send error: invalid_arguments"
Looks like after upgrading to a "new bot" token in #86, messages fail:

[code]

This is certainly opaque, but [the `as_user` entry](https://api.slack.com/methods/chat.postMessage#arg_as_user) is certainly a problem: "[as_user] may not be used with newer bot tokens."

I'm testing locally to see if that's the only problem.

[2020-05-07 17:56] tedder commented on #88
FTR I have `slacker` version 0.12 installed, the setup.py here doesn't restrict a version, so I guess I'll test against 0.12 and also 0.14 (latest).

[2020-05-08 02:59] fraschetti commented on #88
Hi @tedder

You're right on my heels with your analyis and changes.
I had been debating whether or not to remove this functionality completely or keep backwards compatibility for folks with older bot tokens.
My current path is to allow backwards compatibility for a but to let people know Slack has deprecated support for these options and they should expect them to be removed from Octoslack in a fu

[2020-05-08 03:03] fraschetti commented on #87
Hi @N-Schaef

I'm working on buttoning up a number of changes for Slack connectivity but will try to circle back to this before pushing a new release to see if I can find a quick fix. If I can't find a quick workaround, I'll likely address this after the next release so I can give it the attention it deserves.

Stay tuned.

[2020-05-08 03:40] tedder commented on #88
Heh, yeah, I dislike UI too :) I definitely think the options merit removal in the future, but you have a good handle on it.

[2020-05-08 14:43] sbaloo commented on #87
I'd look a little in debug mode the trace.
The message sent is:
[{"color": "danger", "fields": [], "mrkdwn_in": ["text", "pretext"], "text": "`Printer: Offline (Error: SerialException: 'device reports readiness to read but returned no data (device disconnected or multiple access on port?)' @ comm.py:_readline:2823)`", "pretext": "##### :heavy_minus_sign:  Printer disconnected :worried: #####", "fa

[2020-05-12 21:12] davidkmiller commented on #86
Can anyone advise what is required under "bot token scopes" in Slack to allow commands; I've used this thread to get notifications working, but I'm not sure what to do for commands? Thanks

[2020-05-14 21:39] nebbywan opened #90 "Errors cause print to cancel when snapshot stream missing"
I had to remove a camera from my printer setup to help deal with the consequences of the rona, and the resulting errors from this missing stream caused the print to cancel as soon as the "print started" slack message was sent. Removing this stream from the configuration worked as a workaround.

I'm not sure if this would impact the scenario at all, but I'm actually running Octoprint on a Ubuntu 20

[2020-05-16 01:43] hergtoler commented on #73
Same here.  Here are my settings.  I'll see what I have for logs.
![image](https://user-images.githubusercontent.com/40492564/82107349-ee27e500-96f4-11ea-8375-c26dfd422a42.png)

[2020-05-16 02:00] hergtoler commented on #73
OK, the 2020-05-14 file has the event.  The print completes in the octoprint.log file.  I have a pause embedded in the gcode to allow me to insert hex nuts in the print, and while paused, it outputs these messages about once per second.  I hope the logs are more helpful to you than me, because I can't see anything telling in it.
[octoprint.2020-05-14.log](https://github.com/fraschetti/Octoslack/fi

[2020-05-16 10:33] hergtoler commented on #73
Here is a log from this morning, while eating breakfast.  :)  Logging is enabled correctly, and I can see debug output from the event.
[octoprint.log](https://github.com/fraschetti/Octoslack/files/4638197/octoprint.log)

[2020-05-17 07:53] fraschetti commented on #90
Hi @nebbywan

It looks like you have a handful of plugins all in the mix. Do you mind doing a couple of test runs to confirm the issue?
1. Problematic camera enabled + All plugins **except** Octoslack enabled
2. Problematic camera enabled + **Only** Octoslack enabled

Octoslack itself wouldn't ever cancel a print unless it received a Slack message to do so. OctoPrint itself might have some interna

[2020-05-18 22:20] nebbywan commented on #90
Hmm. #1 was how I got it to work last time after ruling out a couple other plugins, so I went straight to #2 and it worked fine as well. Then I tried all plugins enabled and everything continued to work fine despite still seeing the same errors in the log as before. Must be a quirk, so I'll close this for now and if I pops up again I'll come back to it.

Thanks!

[2020-05-18 22:20] #90 closed

[2020-05-20 01:11] hergtoler commented on #73
I don't have access to my printer at the moment, so I can't confirm, but I'm wondering if somehow, the octoslack code that got installed is not the same as what I cloned to my PC from git.  The log contents don't seem to match the code.

The "Event" line in the log:
`2020-05-16 10:15:25,537 - octoprint.plugins.Octoslack - DEBUG - Event: GcodeEvent, NotificationEnabled: True, CommandEnabled: False,

[2020-05-20 04:57] fraschetti commented on #73
Hi Folks,

I ran through another round of tests for both the standard events as well as the g-code events and unfortunately I've been unable to reproduce the issue. That said, I recognize there's a number of you here reporting the issue so I've added a lot of logging for the upcoming release to hopefully shed a bit more light on the issue. The logic here isn't actually rather simple so there's lik

[2020-05-20 15:50] duczen opened #91 "Python 3 support"
Octoprint 1.4.0 is compatible with python 3. Please consider supporting this as python 2 is now eol.

[2020-05-20 16:01] tedder commented on #91
Is this something you can help with, @duczen?

[2020-05-20 16:29] fraschetti commented on #91
FYI -

The current dev version I'm testing in preparation for a release is 100% Python 3 compatible.

[2020-05-23 22:14] hergtoler commented on #73
Thanks for digging in to this.  Here's an updated log including the new messages.

[octoprint.log](https://github.com/fraschetti/Octoslack/files/4672612/octoprint.log)

[2020-05-24 03:48] fraschetti commented on #73
Good news @lhalve @davejhilton and @hergtoler ...

Thanks to the latest log files provided by @hergtoler, I was able to determine the root cause here and will be submitting a fix shortly. The short version is that my testing always utilized G-code **sent** as opposed to what I assume all of you have had problems with - Gcode **received**. The received logic had a bug that was incorrectly setting o

[2020-05-24 04:01] fraschetti commented on #87
Hi @N-Schaef

I did carve out some time to look into this issue but unfortuantely the Mattermost server I was previously using for testing was decomissioned (the team switched to Discord) and I haven't had the time to setup a Mattermost system of my own.
I'll likely circle back to this issue once I find the time to setup a Mattermost server of my own or find a publically hosted Mattermost server w

[2020-05-24 15:36] fraschetti commented on #91
I've released Octoslack 2.0.0 which has full Python 3 support. Give it a try under Python 3 and let me know if you run into any issues.

[2020-05-24 15:36] #91 closed

[2020-05-24 15:38] fraschetti commented on #88
Hi @tedder

The new 2.0.0 release should address this - the plugin will default to not support setting those values (as they're not supported and providing them will result in an error) but I've added Classic bot support for folks to maintain access to these customizations for folks still on the old bots.

[2020-05-24 15:38] #88 closed

[2020-05-24 15:55] fraschetti commented on #86
Hi @brad-colbert @tedder and @davidkmiller

I've just released Octoslack 2.0.0 and with that comes proper support for the new Slack apps. What scopes/permissions you need will depend on what you want to do with the plugin. I've included the list of scopes within the plugin settings dialog but I'll also share them here for initial reference. This list may change over time as Slack makes changes or

[2020-05-24 15:55] #86 closed

[2020-05-24 15:57] fraschetti commented on #84
Hi @Llama-Trauma and @Humsie

I've just released Octoslack 2.0.0 which includes proper support for the new Slack Apps/Bots.  This includes new logic to move away from the RTM functionality only available to classic Slack Apps/Bots.

What scopes/permissions you need will depend on what you want to do with the plugin. I've included the list of scopes within the plugin settings dialog but I'll also s

[2020-05-24 15:57] #84 closed

[2020-05-24 16:01] fraschetti commented on #77
Hi @calonmerc
I've pushed new Octoslack 2.0.0 release which should address your Slack upload issue. Give it a try - if you still experience issues, feel free to reopen this ticket.

[2020-05-24 16:03] fraschetti commented on #77
Hi @brad-colbert

Assuming you're config is also setup to use Slack to host the snapshots/timelapses, the new release should fix your issue as well. It you were using a different hosting method or are experiencing a different issue, feel free to open another ticket that we can use to investigate your issue further.

[2020-05-24 16:03] #77 closed

[2020-05-24 16:05] fraschetti commented on #75
Hi @timur-tabi
The changes for a new release were piling up and I wanted to get Python 3 + New Slack App support out the door asap - which means I didn't end up spending that much time on this issue.

This will stay near the top of my list of items to address when I have time. Thanks for your help diagnosing the issue thus far!

[2020-05-24 16:07] fraschetti commented on #73
Hello again @lhalve @davejhilton @hergtoler
I carved out some time last night to push a new release (Octoslack 2.0.0) which contains the fix referenced above. I'll close out this issue for now but feel free to reopen it if the new plugin vesion doesn't address your issue.

Good luck!

[2020-05-24 16:07] #73 closed

[2020-05-24 16:08] fraschetti commented on #69
Hi @dgsmithmn
It's been six months since you reported your issue and I wasn't able to reproduce the issue in my limted testing. If this is still a problem for you, feel free to reopen this ticket with the info I requested above and we'll go from there.

[2020-05-24 16:08] #69 closed

[2020-05-24 16:10] fraschetti commented on #68
Hi @shinister

I've just released Octoslack 2.0.0 which includes Teams support. Let me know if you run into any issues. Quick FYI - Teams was likely the most limiting platform I've integrated with to date in terms of how they handle attachments/image uploads. I needed to add some extra logic to resize snapshots to fit within what Teams would allow in order for the snapshot image to actually render

[2020-05-24 16:10] #68 closed

[2020-05-24 16:19] fraschetti commented on #66
Hi @JFSolution

I used your changes as the base of what I eventually ended up integrating into Octoslack.
I've made an attempt in the just relased Octoslack 2.0.0 to satisfy both camps - those who want to see the OctoPrint username and those who want to see the Slack username.

The plugin will include these values where it makes sense (e.g. list the Slack username of the user who cancelled a print

[2020-05-24 16:19] #66 closed

[2020-05-24 16:28] brad-colbert commented on #77
Yep, testing now.  Will know in roughly 3.5 hours!   Thank you for all of
your hard work!  Fantastic plugin!

Kind regards,
Brad

On Sun, May 24, 2020 at 9:03 AM Chris Fraschetti <notifications@github.com>
wrote:

[2020-05-24 17:07] fraschetti commented on #61
Hi @GaryBoone and @mika1337

I've just released Octoslack 2.0.0 which has a lot of related changes relevant to this conversation.
-New Slack App Bot support using the Slack Web API instead of Slack RTM (it now polls an HTTP endpoint instead of using a persistent WebSocket).
Relevant to what we were discussing here...

- For anyone using new Slack Apps/Tokens, you'll be forced to use the Web API wh

[2020-05-24 17:07] #61 closed

[2020-05-24 17:10] fraschetti commented on #59
Closing out this issue as I suspec @timur-tabi has figured out his setup steps - the new Slack App flow is also a bit different so we'll see if we need to revisit this in the future.

@PrinterFarm3000 has also opened https://github.com/fraschetti/Octoslack/issues/60 so we'll address that request to start prints from Slack there.

[2020-05-24 17:10] #59 closed

[2020-05-24 17:11] fraschetti commented on #58
Hi @Billiam

Do you still see these issues? If so, let me know and we'll kick off a discussion to see what can be done.

[2020-05-28 06:32] Wob76 commented on #83
This would be very nice, I saw this plugin come up today, it triggers GCODE, could use it add a monitor in octoslack for a specific M300 Gcode, but direct support would be nice.

https://github.com/gmccauley/OctoPrint-CooldownNotification

[2020-05-28 06:55] Wob76 commented on #83
I just did a quick test, I installed the CooldownNotification and set the Execute GCODE to "M300 S500 P500" (a simple beep) and then configured Octoslack to Monitor for G-code sent starts with "M300 S500 P500" and it works as expected and includes the print temperatures too.

It is 2 plugins to get it done, but it is a solution for now.

[2020-05-28 21:05] M1S2 commented on #83
Hi, your plugin is working like a charm. But it would be really cool to have events on reaching some temperature thresholds on all hotends. E.g. for heat up done or cool down done.

[2020-05-29 03:13] fraschetti commented on #83
Hi @Matt2k34 @Wob76 @M1S2

This shouldn't be all that difficult to implement. I have an idea or two how to enhance what I saw in CooldownNotification

@M1S2 - I've only ever used a single nozzle printer and therefore have only seen internal OctoPrint data for a single nozzle. You mentioned "nozzles" - do you have any insight into multi-nozzle printing? I'm trying to formulate how to best handle mu

[2020-05-29 09:16] M1S2 commented on #83
Hi, sorry, I only have a single nozzle on my printer. With all hotends I mean the nozzle and heatbed.
So it would be cool to receive a notification if the heatbed and nozzle reach their target temperatures (heating done) or if the heatbed falls below a specific threshold (ready to remove the print from the heatbed).

[2020-05-29 10:46] lhalve commented on #73
Sorry for not following up with you. The new release does indeed fix my problems :) Thanks a lot!

[2020-06-01 12:44] mortanius-1 commented on #87
Hi @fraschetti I too have this issue and I happen to be running Mattermost Version: 5.23.0. I could even let you test against my own instance if you required it?

The error triggered in Mattermost whenever Octoslack attempts to send a message is as follows:

_Could not decode the multipart payload of incoming webhook._

[2020-06-01 16:48] mortanius-1 commented on #87
The fix should be made on the Slacker side so I expanded on @fraschetti related issue on the Slacker issue tracker and suggested a change: https://github.com/os/slacker/issues/168#issuecomment-636980025

[2020-06-02 09:43] mortanius-1 commented on #87
For anyone just looking to get this working whilst waiting for a fix, on your Octoprint instance login via SSH.

Hackish fix, direct edit to Slacker:
[code]

Search for line 1182 and add the headers attributes to the payload:
[code]

Or something a little more robust @fraschetti, you could monkey patch the function (I'm using this currently and it works well). In file Octoslack/octoprint_Octoslack

[2020-06-03 04:37] Llama-Trauma commented on #84
Thanks for the update, Chris!

Would you be able to direct me towards a guide for setting up the Slackbot side of this plugin? I am able to receive automated print notifications still, but I cannot get any of the live Slackbot commands to work for checking status, or affecting the print.

[2020-06-03 10:12] mika1337 commented on #61
Hi @fraschetti, just upgraded to version 2.0.0 and moved to new bot API with permissions, everything seems to work well including commands.
Thanks !

[2020-06-08 11:56] mortanius-1 commented on #87
Hey @N-Schaef Mattermost have release a new version: 5.23.1 that fixes this issue.

Detail:
Modified the mime check, such that we now require `Content-Type` to be set in the request header.
This change was unintentional and led to breaking changes.

See issue: https://mattermost.atlassian.net/plugins/servlet/mobile?originPath=%2Fbrowse%2FMM-25677#issue/MM-25677

[2020-06-12 22:54] soundstorm opened #92 "RocketChat: only available for private groups"
It seems like `rocket-python` does implement the `getRoomId` function just for groups (endpoint `/v1/groups.info`, not `/v1/rooms.info`).
I personally don't know why this should happen in a private group at all.
So this should do it for public channels / private DMs:
[code]

Will test and create a pull soon, just as reminder to myself.

Maybe a replacement of `{octoprint_user}` in the channel list

[2020-06-16 06:30] dorfman2 opened #94 "Add M112 to commands?"
Is it possible to add M112 - Emergency Stop to the list of commands?

My current use case is when the printer runs out of filament, but is in an Makerspace I can't get into for a few days. To save electricity, I'd like to be able to stop the printer with M112. Using E-stop is not ideal, but "cancelling" during a filament change does not currently work, since the printer is in a paused state.

Than

[2020-06-26 09:12] #87 closed

[2020-07-09 12:24] SebSeifert opened #95 "Amazon S3 - HTTPError: 400 Client Error"
Hi,
first thanks for this awesome Addon.
But i'm not able to Upload Images to S3. MinIO is working fine.
First i had the Problem with the 403 Error. I could see that in the AWS Console the new generated root Key or IAM Key are never used. Now suddenly it seems to be fixed. BUT now ich get the 400 Error.
octoprint.log:
`2020-07-09 13:17:42,596 - octoprint.plugins.Octoslack - ERROR - Failed to uploa

[2020-08-02 05:15] jneilliii commented on #85
@fraschetti Both the PrusaSlicerThumbnails plugin and the UltimakerFormatPackage plugin utilize the same approach for thumbnails. They both add `thumbnail` and `thumbnail_src` metadata properties to the files, which is returned by the file API, and also accessible via [self._file_manager.get_metadata("local", <file_path>)](https://docs.octoprint.org/en/1.4.1rc4/modules/filemanager.html#octoprint.f

[2020-08-02 05:22] charles4308 commented on #85
@fraschetti I think if you can store a second variable with the file name, without the '.gcode' at the end, this would work as a quick fix.

Ultimaker Preview Url:
http://<IP_ADDRESS>/plugin/UltimakerFormatPackage/thumbnail/<FILENAME>.png

I think your {print_name} variable contains the file extenstion.

If this were changed, i would could replace <FILENAME> in the url with your stored variable.

[2020-08-14 23:28] nordurljosahvida commented on #63
@Auroch OT: how did you specify matrix room? `!id:domain` or `#id:domain`? thanks

[2020-08-14 23:36] nordurljosahvida opened #96 "Matrix / Riot.im [now Element]"
Hi, I cannot figure out how to get matrix to work.

It might be because the settings assert a room id will always start with a `!`, however as far as i know they always start with a `#`. Is there a test login button or a logfile?

Thanks!

[2020-08-15 00:04] nordurljosahvida commented on #96
sorry, figured it out, we're talking about room *id* here, not alias. you can find your room id under room settings -> info / about

[2020-08-15 00:04] #96 closed

[2020-08-24 15:47] nod5 opened #97 "GUI settings to control (reduce) verbosity"
The OctoSlack messages are by default quite verbose. GUI settings lack options to hide e.g. Filename, User, Estimated Print Time, ETA, and Printer temp/nozzle.

We *can* edit `__init__.py` manually. But **I request OctoSlack GUI settings to control verbosity**. Some alternatives are
1. a single toggle for a "non-verbose/minimal mode"
2. a set of toggles, similar to how we already have a toggle to

[2020-08-27 20:45] sid3windr opened #98 "Pushover "Print finished" notifications don't have File and Estimated Print Time"
While the "Print started" notification does contain this info correctly, the "File" and "Estimated print time" on the "Print finished" notification just show "N/A".

Not sure if this is specific to Pushover, but it's what I am using.
I tried looking at the code through GitHub but it looks like the issue shouldn't be Pushover-specific...

Running Octoslack 2.0.0.

[2020-08-28 16:33] WyattNielsen opened #99 "Imgur integration failing"
Integration was working previously but now I get the following error on each upload:

I revoked access and re-authenticated with imgur and still see the same error. I've also tried a new album and removing the album to post anonymously. relevant log entries below.

[2020-08-29 14:20] WyattNielsen commented on #99
I updated my webcam configuration and got it to work, I'm guessing Octoslack was not able to capture the images and so it was sending an empty POST resulting in the above error. Would be nice to have a validation and error if the image isn't captured.

[2020-08-29 14:20] #99 closed

[2020-09-25 10:38] floslo commented on #58
I see these issues with "Print started" on Prusa MK3S printers.

ETA availability depends on print start method.
1. Drag file to OctoPrint web UI and start print there: ETA shown.
2. PrusaSlicer [send to OctoPrint](https://help.prusa3d.com/en/article/sending-files-to-octoprint-duet_1663) feature: Most often "ETA N/A".
3. Start print from SD-card via Prusa printer LCD menu: ETA never shown.

**2. P

[2020-10-07 10:18] Crowlord opened #100 "Emojis in Pushbullet"
Just jumped on this as telegram plugin is essentially dead.

It integrated with pushbullet just great but my emojis are just showing as text (both on phone and in push). Is there a library i need to include or something or is this just unsupported here? Telegram emojis show up just fine in Pushbullet.

[2020-10-07 10:19] Crowlord opened #101 "Emoji support in pushbullet"
Just jumped on this as telegram plugin is essentially dead.

It integrated with pushbullet just great but my emojis are just showing as text (both on phone and in push). Is there a library i need to include or something or is this just unsupported here? Telegram emojis show up just fine in Pushbullet.

[2020-10-07 10:20] Crowlord commented on #101
Closing this. Github had a "Moment"

[2020-10-07 10:20] #101 closed

[2020-10-16 05:06] rgordon opened #102 "How do snapshots work?"
I thought that the plugin could capture a snapshot from the camera and send it along with the slack notification upon completion. I first tried just turning the snapshot checkbox on - print completed but no snapshot.
Then I thought that adding the local camera's URL in the snapshot URL might be the trick - that maybe it just needed to know how to grab the image from the camera - so I tried add thi

[2020-10-16 05:30] fraschetti commented on #102
Hi @rgordon

There are two ways to capture and send along your snapshots to Slack:
1. Use a Slack bot/application token and not a webhook.
Assuming you grant the application sufficient permissions, the plugin should be able to upload directly to Slack without a using s hosting service like Imgur or AWS S3.

2. Use a hosting service like Imgur or AWS S3
I personally prefer S3 b/c if configured corr

[2020-10-16 06:29] rgordon commented on #102
Thanks. I was reading the code and experimenting further.
That bot/application token, instead of a web hook url, is probably a better way to go in the long run, soon as i figure all that stuff out more thoroughly. I kind of did the minimal stuff on the Slack side - creating an application, generating a token, etc. but it's using the web hook url interface.

meanwhile, i know the AWS side better (I

[2020-10-16 06:44] rgordon commented on #102
yes, thanks, S3 works fine with PutObject and the bucket as a resource. So that's good at least.
being able to specify a prefix "directory" would be nice, because then I could push multiple printers and maybe display them elsewhere too. (last image from printer X kind of thing).
they're small files, i can live with them on the other side of the continent.

and i'll figure out the app/token side of

[2020-10-16 06:44] #102 closed

[2020-11-12 17:20] norton-chris opened #103 "Sending message over discord on Windows Server error"
I am running this on a Windows Octopi Server. Getting this error on 2 different computers. I have octoslack working on my raspberry pi 3b, seems like it might be a windows server problem, not sure though. Here is the error:
octoprint.plugins.Octoslack - ERROR - Error processing event: Disconnected, Error: 'ValueError' object has no attribute 'message'
Traceback (most recent call last):
  File "c:\

[2020-11-13 23:20] jonkan commented on #95
I think I'm having the issue.. The log just says `ERROR - Failed to upload asset to S3: 403 Client Error: Forbidden for url: https://<redacted-bucket-name>.s3.eu-north-1.amazonaws.com/Snapshot_386ff568260511ebbe7adca6322e8e46.png`
I've verified the access token via the aws cli..
Did you find a solution @SebSeifert?

[2020-11-15 16:12] exetico opened #104 "Error processing event: PrintStarted"
Hi,

I've just installed the plugin, and added the token, secured the right permissions, create the Slack-channel for it, and so on.

But after I started my printer, the following output showed up in the logs, and no info was sent to Slack:
[code]

I'm running on OctoPrint 1.4.2 with Python 3.7.3. Could it be anything related to the Python version?

Let me know if you need anything else. But I've

[2020-11-15 16:18] exetico commented on #104
Or is it related to the `vcgencmd` error? My machine is a NUC, and not anything related to a Pi.

[2020-11-16 07:01] exetico commented on #104
Now I'm down to:
[code]

[2020-11-16 07:03] exetico commented on #104
Fixed with: `/invite @octoprint`

TL;DR: Maybe add a few notes about this? Maybe I just missed that in the documentation :-)  (The first part with `vcgencmd` could be handled a bit better in the code)

[2020-11-16 07:03] #104 closed

[2020-11-16 19:12] brad-colbert opened #105 "Issue maybe? LOTs of queries to slack.com"
I'm not sure if this is an issue or something with how I configured the plugin or a bug but Octoslack is reaching out to Slack.com quite often.  My Octopi is THE major DNS hit on my network. Over 700 times in 10 minutes according to PiHole.

[2020-11-17 05:39] tedder commented on #105
You know what? When I first read this I didn't believe you, I thought it was the Slack apps that were doing it, but I just looked at my network traffic- and you're right.

Def gonna have to look into this. I'm sure it's on the "check for /octoprint commands" side, not the "post a status" side.

[2020-11-17 05:45] tedder commented on #105
You might want to tail your octoprint log, @brad-colbert, and see if it is full of 429 errors.

[2020-11-20 05:43] fraschetti commented on #105
Hi @tedder and @brad-colbert

What you're seeing is the result of Slack removing support for the RTM (real-time messaging) API which relies on a persistent WebSocket. This unfortunately only leaves us with relying on polling their HTTP APIs to query for Slack API commands.
Out in the real world Slack API commands would call an endpoint to trigger our logic but that would require every OctoPrint/Oc

[2020-11-20 05:53] fraschetti commented on #103
Hi @norton-chris

Thanks for reporting this issue. Do you mind bumping up the Octoslack log level and sending along an Octoprint.log that reproduces this issue?

* Enable DEBUG logging
Ensure the following has been added to /.octoprint/logging.yaml  (or appropriate path for your OctoPrint installation)
[code]

* Restart OctoPrint

* Reproduce issue and send along octoprint.log

[2020-11-20 05:58] fraschetti commented on #100
Hi @Crowlord

This seems like a relatively straightforward issue. Do you mind sharing one of your message configs (where I can see the emoji you're using) and also a screenshot of what you see in Pushbullet? I mainly just want to confirm I see the same thing on my end when I work to fix it.

Thanks in advance.

[2020-11-20 06:01] fraschetti commented on #98
Hi @sid3windr

I can't imagine there's anything specific to Pushover but you never know.

Do you mind providing some rough details about your environment?
-What device/OS are you running?
-How are you connecting to Slack (Webhook or API token)?
-Do you mind following the steps below to generate a debug log for analysis?

1. Enable DEBUG logging
2. Reproduce the issue
3. Send Octoprint.log

Instruc

[2020-11-20 06:19] fraschetti commented on #97
Thanks for the feedback @nod5 - Lots of great suggestions here.

[2020-11-20 07:54] fraschetti commented on #95
Hi @DerSeb90 and @jonkan

Unfortunately the HTTP 400 and 403 alone don't indicate exactly why S3 isn't happy with your request.
I suspect you both have different issues but luckily the next step is the same for both of you... enable debug logging for the plugin so we can take a look at the payload the S3 endpoint is sending back.

Do you mind providing some rough details about your environment?
-W

[2020-11-20 07:57] fraschetti commented on #94
Hi @dorfman2

I had intended to add the option to send GCODE to the printer but it didn't make the earlier releases. I'll keep this in mind for my next rounf of updates.

[2020-11-20 07:59] fraschetti commented on #92
Thanks for the PR @soundstorm - I'll look to review+integrate the PR in my next round of plugin updates.

[2020-11-20 15:56] brad-colbert commented on #105
Hi @fraschetti,

Makes total sense.  I suspected that was the case but wanted to make sure I hadn't broken anything in updating.

I appreciate the configuration option.  Thanks again!

[2020-11-21 04:19] dwmunster commented on #63
I am also experiencing this issue and available to test.

The issue is that messages are sent as rendered HTML (https://github.com/fraschetti/Octoslack/blob/master/octoprint_Octoslack/__init__.py#L4349). Thus, any markdown/emoji must be processed on the Octoslack side if you want them to display properly. Sending the [html symbol](https://www.w3schools.com/charsets/ref_emoji.asp) (e.g. `&#10134;`)

[2020-11-21 22:02] norton-chris commented on #103
Hi @fraschetti, the error was on a university computer and now we're in lockdown. I will get those logs, whenever things open up again.

[2020-11-27 10:38] jonkan commented on #95
@fraschetti Thanks for your response, sorry for the delay.
This is my log from sending a `@<bot> status` message:
[code]
Hmm ok, it works if using a `us-east-1` bucket, as mentioned in https://github.com/fraschetti/Octoslack/issues/102#issuecomment-709839697. Seems we need a way to config a different endpoint url for tinys3, as specified in [Specifying a different endpoint](https://github.com/smor

[2020-11-27 18:52] elightcap opened #106 "[Feature Request] Add option to send test message"
would be helpful in initial config if one could push a button to send a test message

[2020-12-02 10:01] Crowlord commented on #100
Sorry only just seen this!

I switched over to Discord instead which works great.

I will put PB back on my test bed and get back to you.

[2020-12-02 10:10] Crowlord commented on #100
![Screenshot 2020-12-02 100849](https://user-images.githubusercontent.com/26388416/100858945-88c7f580-3486-11eb-8109-a7eb07d917b8.png)
![message](https://user-images.githubusercontent.com/26388416/100858946-89f92280-3486-11eb-871d-ea4a6350deaa.png)

[2020-12-12 17:24] SharpSh00ter109 opened #108 "Can't install on new Octoprint 1.5.2"
I'm having trouble installing onto the newest Octoprint version. Install runs and shows completed, but shows unknown plugin. After a reboot plugin isn't installed and is still on the available to install list. Also tried with a fresh install, will not install on any of the Octoprint instances I have. Is this a new issue on the latest version of Octoprint?

[2020-12-12 22:46] sid3windr commented on #98
Hi,

Apologies for the late reply - I got the e-mail then got quite busy...

I'm not using Slack notification, only Pushover, on a Raspberry Pi with Raspbian/Debian 10 (through OctoPi). Updated to 1.5.1 in the meanwhile.

I have enabled debug logging and will feed back after my next print. Apologies for still being a bit vague.

Thanks!

[2020-12-13 11:35] vsigler commented on #108
Just came here to report the very same issue. Plugin installation completes, but after restart it is nowhere to be found, only in the plugin manager as available to install.

[2020-12-14 00:18] fraschetti commented on #106
Not a bad idea. Thanks for the suggestion.

[2020-12-14 00:23] fraschetti commented on #108
Hi @SharpSh00ter109 and @vsigler

Would you mind restarting OctoPrint and then passing along your octoprint.log file? If the plugin was somehow installed but was failing to load, the interesting bigs would be logged there when OctoPrint starts.

It would also be helpful to see your plugin_pluginmanager_console.log for a day where you've attempted to install Octoslack.

If you're using the OctoPi d

[2020-12-14 00:47] SharpSh00ter109 commented on #108
This is what happens at the end of installing
![Screenshot_20201213-193927_Chrome](https://user-images.githubusercontent.com/1350719/102029247-b3b22380-3d7b-11eb-9490-4f9464663410.jpg)

And here is each log, I believe these are what you needed
[octoprint.log.txt](https://github.com/fraschetti/Octoslack/files/5685877/octoprint.log.txt)
[plugin_pluginmanager_console.log.txt](https://github.com/frasc

[2020-12-20 23:19] Snortimer commented on #108
I, too, have this problem. I was trying to replace the Slack plugin as it appears to be unsupported at this point, and exactly the same thing happened to me. I did uninstall and clean out the Slack plugin (and reboot) before installing the Octoslack plugin.

[2020-12-21 00:02] fraschetti commented on #108
Hi @SharpSh00ter109 @vsigler and @Snortimer

The issue here is with the official Slack library + Python 2. They abandoned their Python 2 version in a bit of an odd state in that it has a very specific requirement on the version of the Python websocket library. Without forcing things on my side, Python will naturally pick up the latest and greatest websocket library which the Slack client does not

[2020-12-24 01:42] jhubbardsf commented on #108
@fraschetti Any updates? Or possibly anything one of us can do to help?

[2020-12-24 10:46] fraschetti commented on #108
Hi @SharpSh00ter109 @vsigler @Snortimer and @jhubbardsf

I just pushed Octoslack 2.1.0 which should address this issue. Please try your installations again and let me know how it goes.

Unfortunately the simpilest "fix" (forcing the websocket library to match the Slack library requirement) would have introduced a conflict with OctoPrint itself. I had to resort to dropping usage of the Slack RTM AP

[2020-12-24 10:49] fraschetti commented on #105
FYI the default polling interval has been changed from 1.2s to 5s. I'm leaving this issue open until I surface this config via the UI and/or find a solution that doesn't require this polling.

For context, I also run Pi-hole but my 3D printer has been offline for a while (had to be rebuilt) so these lookups hadn't hit my radar. I don't rely on the Slack channel commands all that often so I changed

[2020-12-24 13:41] SharpSh00ter109 commented on #108
Installed onto the first system with no issues, finishing installing on the other 8 and then will configure them. So far all is going well though! Thank you for pushing this update. I'll let you know if any other issues come up with this update.

[2020-12-30 04:44] #108 closed

[2020-12-30 13:09] Snortimer commented on #108
Just reporting in that this has worked perfectly for me for a few days now. Thank you so much for the update.

[2020-12-30 13:24] vsigler commented on #108
I can also confirm it worked for me, without any Octoprint reinstalls, just installed the new version. Thanks a lot!

[2021-01-10 13:41] Links2004 commented on #100
looks like matrix has the same problem:

![image](https://user-images.githubusercontent.com/974709/104124477-62348e80-5351-11eb-9d68-99ba29fecd72.png)

do you like a new Issue for this or is it the same?

site node:
matrix handles emotes via utf8 or html encode (example bell: `&#x1F514;`) 🔔

[2021-01-10 18:33] Links2004 commented on #100
may https://pypi.org/project/emoji/ helps here.
but no idea in which place in the code its needed.

[code]

[2021-01-10 21:44] cerebrate opened #109 "Cannot access private Matrix server (certificate error)"
I have an internal Matrix server which I'd like to use for Octoslack notifications, but I can't connect to the server because it uses a certificate issued by a local (internal) CA rather than a default CA:

[code]

I've added the local CA root certificate to the Octoprint host and run `update-ca-certificates`, and running a few manual tests in python with the requests library suggests that python

[2021-01-11 06:06] cerebrate commented on #109
Redid the tests with urllib3, which also validates correctly.

[2021-01-18 20:43] cerebrate commented on #109
I can work around this temporarily by patching _oprint/lib/python3.7/site-packages/matrix_client/api.py_ to include the last line below:

[code]

but that's hardly a fix. Since the problem is with matrix_client and not with Octoslack, I should report this over there, but since on the other hand matrix_client is almost-but-not-quite deprecated in favor of matrix-nio and they're not taking bug fixes

[2021-01-24 05:33] Cyber-One opened #111 "On progress notifications, use the last timelapse capture image"
The plugin appears to me to work great with Discord.
I did notice however, that when it sends a progress notification with a nice image it captured from the camera, that the hot-end and extruder is always in the way.
This is always going to be the case except when Octolapse moves the hot-end out of the way for it's snapshot between layers.
It would be great if this last snapshot could be used inst

[2021-01-24 10:33] toxic049 opened #112 "Slack Bot not responding to commands"
Hey Guys,

ive been using Octoslack succesfully for little bit over a year now. since the latest updates i cant get the bot / slack app to respond to commands anymore.

ive followed all the setings, and tested with the bot token and oauth permissions. what can i do to trouble shoot this?

using: Octoprint Version 1.5.3, Octoslack 2.1.0

the bot is installed nicely and posts updates to my # General

[2021-01-24 11:23] toxic049 commented on #112
enabled debug logging:
1-01-24 11:22:06,719 - octoprint.plugins.Octoslack - ERROR - Error retrieving username for Slack message - User ID: UFKC3RF1D, Error: missing_scope
Traceback (most recent call last):
  File "/home/pi/oprint/local/lib/python2.7/site-packages/octoprint_Octoslack/__init__.py", line 2598, in get_slack_username
    user_info_rsp = slackAPIConnection.users.info(userid)
  File "/ho

[2021-01-24 11:31] toxic049 commented on #112
removed the users:read scope. and added it again to the bot oauth scopes. then reinstalled the app in slack now it works again.

[2021-01-24 11:31] #112 closed

[2021-01-27 10:54] alek-05 opened #113 "Slack - bot reply only with thumbs up"
I configured the plugin with Slack but I don't receive any communication of the activities (ex. Print started/Stopped, etc.) that I enabled, moreover if I ask the status or help to the bot it replies only with a thumbs up
![image](https://user-images.githubusercontent.com/44298932/105981326-3e35b480-6096-11eb-89ca-3c790cf8d853.png)

Am I doing something wrong or it's the plugin?

[2021-03-06 14:49] blissend opened #114 "slack app bot invalid_auth even though it's valid"
I can not get app bot to work. In the logs it shows this...

`octoprint.plugins.Octoslack - ERROR - Error in Slack Web API event loop, Error: invalid_auth`

However if I use the slack documentation demo curl call using exact same token it works...

[code]

So I know the token works and that the bot is in the channel. Perhaps something else is going on?

[2021-03-11 23:19] sfoley commented on #114
It looks like the Slacker python package is no longer supported, and their auth header doesn't play well with Slack at the moment. I'm new to this project, so maybe this is a recent slack change? I got it to work with a little modification to the Slacker.__init__.py file of line 69 (of the latest version) to change from `kwargs.setdefault('params', {})['token'] = self.token` to `kwargs.setdefault(

[2021-03-12 00:09] fraschetti commented on #114
Hi @sfoley

I agree - I recall looking into moving away from Slacker a few months ago but I haven't been able to put aside the time to knock this out just yet. A quick hack (which could have some legs since the Slacker project is dead) would be to patch that method but that's never ideal.

TBD when I'll get around to knocking this out but with Slacker long since dead, it's about time I get rid of

[2021-03-13 02:12] savage4618 commented on #114
following because i'm having the same issue.

[2021-03-15 22:38] FrostyWolf opened #115 "Send g-code thumbnail when print starts?"
Is there a way to send the embedded g-code thumbnail with the print started message?  I couldn't puzzle it out myself.  PrusaSlicer, SuperSlicer, and I think Cura now embed a .png thumbnail in the g-code.  I would be great to be able to send this with the print started message so there is a picture of what is about to be printed.

https://i.imgur.com/lbjINn3.png This is what the thumbnail looks li

[2021-03-30 23:20] eecue commented on #114
Following, currently using the web hook method but I really want the full bot!

[2021-04-03 16:56] fraschetti commented on #114
Update - I've ripped out Slacker and am in the testing phase of Pytyon2 support. Once that testing (and corresponding bug fixes) is complete, I'll add Python3 support, go through that testing cycle and then we should be good to go.

No ETA yet but these changes are underway.

[2021-04-03 16:58] fraschetti commented on #75
Haven't heard anything on this one in a while. If this still pops up, let me know and we'll take another look.

[2021-04-03 16:58] #75 closed

[2021-04-03 18:11] eecue commented on #114
Awesome! I’m down to pull down a branch and test.

[2021-04-05 08:04] fraschetti commented on #114
Hi @eecue

https://github.com/fraschetti/Octoslack/tree/SlackerRemoval

Looking good for Python2, haven't started work on Python3.

[2021-04-18 16:21] buholzer opened #117 "Excessive DNS lookups for slack.com"
Looks like the Octoslack plugin is looking up the slack.com DNS name around twice a second.
Any idea why that is?

[code]

[2021-04-30 22:48] eecue commented on #114
Heya @fraschetti ... any update here? I'm running Python 3 so didn't get a chance to test your PR.

[2021-05-02 01:52] melyux opened #118 "OctoSlack messing up prints (vase mode)"
I was attempting a vase mode print for the first time and noticed some zits on my print, caused by the print head stuttering. Investigation showed that the stuttering wouldn’t happen when printing from SD card, or when printing in safe mode. I tried turning on my plugins by themselves and trying.

The result was... OctoSlack enabled just by itself was enough to cause stuttering in vase mode when p

[2021-05-02 10:50] fraschetti commented on #118
Hi @melyux

A bit of background:
OctoPrint plugins operate inline with OctoPrint itself. This means when an event fires that a plugin is subscribed to (% complete, g-code processed, etc.), it's wildly important how long any given plugin (or combination of plugins) take to process that event.
Priners typically keep a local buffer of commands and for hightly details prints (e.g. not long extrudes in

[2021-05-03 22:53] dstrivelli commented on #114
Same boat. I'm happy to take a look at whatever python3 work you are able to put together.

[2021-05-04 10:45] andreapede opened #119 "Pushover send error: 400: attachment is too large"
In some case the image size could exceed the maximum allowed for sending 2.5mb
[https://blog.pushover.net/posts/pushing-images-with-pushover-30#:~:text=Starting%20today%2C%20these%20e%2Dmails,are%20limited%20to%202.5%20megabytes.](url)

[code]

It is possible to find some workaround like additional jpg compression or limitating the maximum size?
(great plugin tought)

[2021-05-04 10:51] melyux commented on #118
Sure, I'll give it a try as soon as I can. Thanks for the background crash course. Interesting that plugins block in the main thread in priority of the printing. I guess it makes sense considering how things like OctoLapse work, but doesn't seem to make sense for things like OctoSlack. Is there an option for plugins to spin off in threads instead of blocking the printing thread?

[2021-05-05 05:11] fraschetti commented on #118
Great question - for Octoslack I've already moved as much as possible (image processing, sending messages to slack, etc.) but there is some work I still need to do in the main thread before I can fire up the thread. Most notably is grabbing various printer states (e.g. what's the % complete when the event fired) or evaluate a g-code event to potentially trigger events.
Right now I'm not reusing th

[2021-05-05 05:59] fraschetti commented on #114
FYI - I've started work on Python3 support for the official Slack Python library. Stay tuned.

[2021-05-08 05:09] fraschetti commented on #114
Update - I've completed both Python2 & Python3 development and testing. Changes has been submitted to that development branch:
https://github.com/fraschetti/Octoslack/tree/SlackerRemoval

I'll let these bake for a couple of days but pending any bug reports, a new release with these changes should be coming soon.

[2021-05-08 05:23] fraschetti commented on #105
Update: Slack has introduced 'Socket Mode' which I still need to look into but appears to be a replacement for RTM. I'll check this out as time permits to see if can replace this polling logic.
https://api.slack.com/apis/connections/socket

[2021-05-08 23:34] fraschetti commented on #114
Thanks for the feedback @eecue
Just as an FYI, can you share what settings you had to delete?
I'm looking to see if this is something other users might encounter and I need to code for or if you had something special on your end that I don't need to worry about.

Thanks in advance.

[2021-05-09 00:17] eecue commented on #114
So I first tried to just check out your branch and copy the files into the python folder over the existing ones. That didn’t work and octoslack didn’t even appear. Then I just downloaded the whole zip of the branch and upload it via the web interface. That started working again and my old settings were in there but I got an error message. I posted it earlier and then edited my message, sorry. I ca

[2021-05-11 17:09] dstrivelli commented on #114
@fraschetti I can confirm what eecue was saying. I pulled the plugin and installed via ZIP. I too had to trash creds, but all looks good.

[2021-05-12 07:00] fraschetti commented on #114
@dstrivelli Did you need to create new creedentials on the Slack side or did you need to reenter your credentials in the Octoslack config UI?

I'd of course like to track down any issues on my side but if there's something I can't fix, I'd ideally likely to call this out  in the release notes.

Thanks again.

[2021-05-12 15:25] eecue commented on #114
@dstrivelli so I had already created both the bot token and the web hook info and added both to the config, but was using the web hook as the bot didn't work before your awesome update.  so I did not have to regenerate anything, just deleted and paste it back in ... btw here are the errors I saw before I deleted:

[2021-05-15 03:27] dstrivelli commented on #114
@fraschetti I did **not** need to recreate the Slack credentials, I just needed to delete OctoSlack plugin from OctoPrint entirely, and all of its data, then install from the ZIP file. I had the same error that @eecue posted above when I had just installed the updated version over the top of the existing install.

[code]

But when I specified an authorized user in the plugin settings, everything w

[2021-05-15 05:47] fraschetti commented on #114
I found a few extra places where I need to make changes to adapt to the new Slack client response objects (no longer a native dictionary and they don't fully support all dictionary functionality).

I just pushed 2.2.0 - https://github.com/fraschetti/Octoslack/releases/tag/2.2.0

Thanks for your help!

[2021-05-16 15:28] sid3windr commented on #98
Once again my apologies for the late reply. I did enable debug logging, didn't find anything in there and then neglected posting it here as well. However I am happy to report after upgrading to both OctoPrint 1.6.1 and the last OctoSlack version yesterday, my Pushover notifications are now correctly reporting filename and print time in the "Print finished" notification!

[2021-05-18 10:25] sid3windr commented on #98
Hm. Too soon - half of the prints still say n/a !

[2021-06-08 00:16] Martyfree123 opened #121 "Add delay for snapshots"
Hello!
Right now, the plugin takes a snapshot right as the print finishes, but this doesn't give enough time for my toolhead to move to the "park" position out of view.

**Here is what it currently captures:**
![nopark](https://user-images.githubusercontent.com/13488291/121102853-9ca13b00-c7cc-11eb-9fa4-ee05e0e2b101.png)

**Here's what I'd like it to capture:**
![park](https://user-images.githubus

[2021-06-12 20:55] icelikes opened #122 "Unique Identifier OctoSlack Error or something i am not seeing"
I have a problem that I am hoping can be solved easily.  I help maintain a group of printers that all use an octoprint server and are uniquely identified on the network on a static IP and use this plugin to report to our slack channel.  It helps users know when thier print is finished.  The problem is after the last update, I began updating them today, the "Slack Identity" is no longer fowarded to

[2021-06-13 08:21] melyux commented on #118
Alright, got an octoprint.log. I tried it again and got the same results: no stuttering all the other plugins, but just Octoslack by itself leads to the nozzle stuttering in vase mode. Again, Octoslack is not configured at all, it's just freshly installed with no configuration whatsoever (i.e. it doesn't send any messages because I haven't set it up). Here's the log with debug for Octoslack on:

[

[2021-07-15 13:14] Cadair opened #123 "Matrix no longer works with synapse 1.38"
Synapse is no longer returning optional fields in its sync responses, which the `matrix_client` library expects.

As `matrix_client` is no longer maintained, this would probably mean changing the library to fix. I use [matrix-nio](https://github.com/poljar/matrix-nio) for some stuff but it's primarily async maybe something like https://gitlab.com/Swedneck/simplematrixlib would do the job.

[2021-08-29 17:59] swills commented on #49
It works for me, but every message contains:

Snapshot error(s):

    unknown url type: ''

[2021-09-03 11:04] TheLion opened #125 "Emoji in PushOver not working/supported"
Hi,

Are emoji's in Pushover not working/supported?

Or is a different syntax required than the `:heavy_minus_sign:` that is used as default in the messages.

Pushover does support emoji's, as the other Pushover plugin does send emoji's, but that doesn't have the customizability that Octoslack offers.

[2021-10-05 21:02] GaryBoone opened #126 "OctoSlack causing layer shifts"
I've been suffering from layer shifts in my prints. After checking belt tensions and checking for other mechanical issues, I suspected plugins might be the cause. I did a search by enabling/disabling plugins and narrowed the primary suspect to OctoSlack. Here's the data:

| Plugin                            | Run1    | Run2    | Run3    | Run4    | Run5    | Run6    | Run7    | Run8   | Run10   |

[2021-12-03 15:50] jasonappah commented on #105
Would you be willing to accept a PR implementing Socket Mode? Not making any guarantees as to if/when I'd get around to making the PR, but I'd love to give it a crack.

[2021-12-07 01:38] sysop255 opened #128 "discord webhook stops working after Python 3 upgrade"
[code]

[2022-01-20 01:23] jamuraa opened #129 "Rotate snapshots sent different than normal"
When using Octo4a, the camera is rotated correctly on the control panel, but the snapshots sent to Slack are sideways - it would be good for there to be an option to rotate them separately without making the video in the web interface sidewyas 😄

[2022-01-20 15:52] TylonHH commented on #125
Those syntax is for Slack. Just copy an emoji from somewhere and put it in. for eg https://getemoji.com/

[2022-01-20 15:55] TylonHH opened #130 "unknown url type"
Hi,
I use this plugin with OctoPrint and Pushover. For the snapshor URL I use this link: 192.168.178.96/webcam/?action=stream
It works but it also say "unknown url type". How can I solve this?
Best regards

[2022-01-20 15:57] TylonHH opened #131 "How to backup settings? Where stored?"
Hi,
as I use multiple printers for this plugin I like to know where the settings are stored? So I can easily c/p this to other machines.
cheers

[2022-02-07 10:03] natrius opened #132 "Riot.im renamed to Element"
I guess most people know this anyway, but i think it should be renamed everywhere from Riot to Element. New link, just in case https://element.io/

[2022-04-10 16:06] TheLion opened #133 "basic authentication throws error"
Hi,

I secured my MJPEG-STREAMER stream and snapshot with a username/password. This works just fine in Octoprint and in the browser by accessing http://username:password@192.168.1.1:80/?action=snapshot. This syntax is also mentioned within the OctoSlack plugin, but when I use this syntax in Octoprint (which I suppose is used by OctoSlack) it produces an error in the log:

[code]

Not quite sure wh

[2022-05-17 16:20] TheLion opened #134 "Any development activity"
Is this plugin still actively being developed en supported?

None of the issues raised in the last 6 months, have received any reply.

[2022-07-30 23:52] MrGeekFreak opened #135 "Unable to pass variables from Octoprint/Octoslack to a Slack Webhook"
Hello all!

I am trying to integrate Octoslack into a Slack Workspace that does not have bots/custom applications available. I was experimenting with a Workflow Webhook, but can't seem to pass variables from Octoslack to it. I can get Octoprint to post a generic message in a Slack board whenever the printer performs GCODE. Any time I add a variable to the Slack Webhook, I begin getting HTTP error

[2022-08-12 03:18] FrugalGuy commented on #133
Message means you supplied a string argument when a bytes argument was required.
Use 'theArgument'.encode('utf-8') to convert the string 'theArgument' into bytes b"theArgument"
Which argument? Check the docs for the failing API call.

[2022-08-12 07:59] TheLion commented on #133
I understand the error, but to be clear, I didn't code anything. I just entered the URL I mentioned in the box, that's it.

[2022-08-24 23:25] ChrisHeerschap opened #136 "FYI: Octopi moves location of vcgencmd"
Running OctoPi 1.0.0 RC1 and OctoSlack wasn't working. Found the cause in the logs:

[code]

Investigated and saw that the underlying OS for this release doesn't put vcgencmd in that folder anymore, it's now located in `/bin/vcgencmd`

I looked through the configs and didn't see where that path was coded so couldn't propose a change, but there is a simple update:

[code]

[2022-11-04 23:48] fraschetti commented on #134
Hi @TheLion

The obvious answer is "no" because clearly, I haven't touched this project in a while. That said, I'm finally back to a position where I can spend some cycles here so regardless of whether or not you're still interested in the plugin, I'll be putting in some work toward catching up on the backlog here.

[2022-11-04 23:48] #134 closed

[2022-11-04 23:50] fraschetti commented on #135
Hi @MrGeekFreak

I'm not sure if you're still having this issue or if you even still care but I'll attempt to reproduce this in the near-ish future and will report back when I have something to share.

[2022-11-04 23:52] fraschetti commented on #136
Received. Thanks for reporting and sharing the updated path.

[2022-11-04 23:54] fraschetti commented on #133
Thanks for reporting this @TheLion - I'll see if I can repro this setup.
Having not yet looked myself, if you have a link to the doc you followed to lock down your video stream, please pass it along as it might save me a bit of time and effort.

[2022-11-04 23:58] fraschetti commented on #131
Hi @TylonHH

The answer really depends on what operating system you're using and how you installed OctoPrint.
The short answer (for me) is that plugin settings are stored in the same config.yaml OctoPrint itself uses to store its own settings.
You can find the relevant doc here: https://docs.octoprint.org/en/master/configuration/config_yaml.html

Backing up just the configuration settings for a sp

[2022-11-04 23:58] #131 closed

[2022-11-05 00:03] fraschetti commented on #130
Hi @TylonHH

I'm just triaging bugs at the moment so I don't have my OctoPrint setup accessible.
That said, ?action=steam is going to try to actually grab the MJPG video as opposed to just an image. Instead, you can try ?action=snapshot

Assuming you're using the local stream setup by something like the OctoPi image, your URL for local would actually be:
http://127.0.0.1:8080/?action=snapshot

Oth

[2022-11-05 00:03] #130 closed

[2022-11-05 06:23] fraschetti commented on #132
Changes committed for the next release. I'll go ahead and close this ahead of that as there's not really much else to test or worry about here. Thanks for opening this issue!

[2022-11-05 06:23] #132 closed

[2022-11-05 07:20] natrius commented on #132
Thanks for your work!

If i recall correctly, when ur doing a push or merge in git and write something along the lines of "Closing #132" it should autoclose the issue once its merged - if i understood everything correctly. Might be usefull to try.

[2022-11-05 07:56] fraschetti commented on #136
I've pushed a change to ideally transparently & efficiently support the new & old paths.
Thanks for reporting this issue, the change will of course be available in the next release.

[2022-11-08 07:08] fraschetti commented on #64
Closing as duplicate.

[2022-11-08 07:08] #64 closed

[2022-11-08 07:09] fraschetti commented on #65
Better late than never here.
This conversation is a few years old so I'm going to resolve it. Feel free to communicate back if needed.

As for the MMU2 question, if you'd still like to discuss this, feel free to open another ticket and we can focus on that topic there. Thanks!

[2022-11-08 07:09] #65 closed

[2022-11-13 20:44] MrGeekFreak commented on #135
Hey @fraschetti !

That would be super appreciated! I am definitely still interested in getting OctoSlack working with a Slack Workflow/WebHook URL.

Thank you!

[2022-11-13 20:45] MrGeekFreak commented on #135
Oops - I did not mean to close this out yet.

[2022-11-14 02:26] MrGeekFreak commented on #135
`2022-11-13 18:24:28,946 - octoprint.plugins.Octoslack - ERROR - Slack WebHook message send failed: {"error":"missing_field_value","ok":false,"response_metadata":{"messages":["[ERROR] empty required field: 'messages'"]}}`

The OctoPrint log file is giving me this error when attempting to send a notification through Slack.

[2022-11-18 07:20] fraschetti commented on #128
Thanks for reporting this issue. I'll take a look as time permits.

[2022-11-18 07:23] fraschetti commented on #95
Queued up in the development branch is a change from the tinys3 library to Amazon's official boto3 library. With this will come support for buckets in other regions. This change will be included in the next release.

[2022-11-18 07:29] fraschetti commented on #129
Hi @jamuraa

Any chance you can share a bit extra info so I can fully understand the context?

1. A screenshot of what your OctoPrint "Web & Timelapse" settings dialog
2. A screenshot of what  shows when you use the Test button next to the Stream URL input (trying to determine the orientation of the camera itself vs what's rendered throughout OctoPrint and Octoslack)
3. A screenshot OctoPrint's "A

[2022-11-19 01:00] fraschetti commented on #128
Hi @sysop255
There were two issues here not specific to Discord
1. The latest OS images have moved the command we use to fetch the RasPi temp. I've put in a fix for this that will go out in the next release. Under the current version this triggers the exception logging logic for this flow that has a bug under Python3
2. Python3 has swapped the message attribute on exceptions to just msg. The new c